.card {

}

.card__wrapp {
	margin-bottom: 38px;
	@extend %clearfix;
}

.card__left,
.card__right {
	float: left;
	width: 50%;

	@include tablets {
		float: none;
		width: 100%;
	}
}

.card__right {
	padding: 0 86px 0 0;

	@include top {
		padding: 0 40px 0 0;
	}

	@include desktop {
		padding: 0 24px 0 0;
	}

	@include tablets {
		padding: 0;
	}
}

.gallery {
	@extend %clearfix;
}

.gallery__left {
	float: left;
	width: 16%;

	@include phones {
		display: none;
	}
}

.gallery__right {
	float: right;
	width: 80%;
	padding-right: 38px;

	@include phones {
		float: none;
		width: 100%;
		padding-right: 0;
		text-align: center;
	}
}

.gallery__right-content {
	position: relative;
}

.gallery-prev__list {
	width: 75px;
	margin: 0 auto;
}

.gallery-prev__item {
	width: 72px !important;
	margin: 1px 1px 4px 1px;
	padding: 3px;
	outline: none;
	cursor: pointer;

	&:last-child {
		margin-bottom: 0;
	}	
}

.gallery-prev__item.slick-current {
	border: 1px solid $blue;
}

.gallery-prev__img {
	height: 90px;
}

.gallery__list  {
	// margin-right: 38px;

	@include phones {
		margin-right: 0;
	}
}

.gallery__item {
	outline: none;
}

.gallery__img {
	width: 462px;
	width: 100%;
	height: 690px;
	height: auto;
}

.gallery__img-pic {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.gallery__stock-list {
    position: absolute;
    bottom: 54px;
    right: 0;
	width: 140px;
	text-align: right;
}

.gallery__stock-item {
	display: inline-block;
	margin-top: 4px;
	padding: 2px 18px;
	font-size: rem(11px);

	&:first-child {
		margin-top: 0;
	}
}

.gallery__stock-link {
	display: inline-block;
	color: $black;
}

.card__article {
	font-size: rem(14px);
	color: $grey;

	@include phones {
		font-size: 14px;
	}
}

.card__article-value {
	margin-left: 4px;
}

.card__title h1 {
	text-transform: uppercase;
	font-size: rem(18px);
}

.card__wrapp-price {
	margin-bottom: 20px;
	@extend %clearfix;

	@include phones {
		margin-bottom: 12px;
	}
}

.card__price {
	@include inline-block(middle);

	@include phones {
		float: left;
	}
}

.card__price-descount {
    margin-right: 8px;
    text-decoration: line-through;
    color: $grey;
}

.card__price-value {
	margin-right: 4px;
	font-weight: bold;
}

.card__price-sign {
	font-size: rem(14px);
}

.card__shipping-text {

	@include inline-block(middle);
	margin-left: 50px;
	font-size: rem(12px);
	border-bottom: 1px solid $grey;

	a {
		color: $black;

		&:hover {
			text-decoration: none;
		}
	}

	@include phones {
		float: right;
	}
}

.card__size {
	margin-bottom: 20px;
	@extend %clearfix;

	@include phones {
		margin-bottom: 12px;
	}
}

.card__size-left,
.card__size-right {
	float: left;
	width: 50%;

	@include laptop {
		float: none;
		width: 100%;
	}

	@include tablets {
		float: left;
		width: 50%;
	}

	@include phones {
		float: none;
		width: 100%;
	}
}

.card__size-left {
	position: relative;
	padding: 0 10px 0 0;

	@include laptop {
		padding: 0;
	}

	@include tablets {
		padding: 0 10px 0 0;
	}

	@include phones {
		padding: 0;
	}
}

.card__size-right {
	float: left;
	padding: 0 0 0 10px;

	@include laptop {
		padding: 0;
	}

	@include tablets {
		padding: 0 0 0 10px;
	}

	@include phones {
		padding: 0;
	}
}

.card__size-wrapp {
	position: relative;
}

.card__size-title {
	position: relative;
	// width: 255px;
	padding: rem(16px) rem(0px);
	text-align: center;
	text-transform: uppercase;
	font-size: rem(14px);
	border: 1px solid $grey;
	cursor: pointer;
}

.size-choice__text,
.size-choice__size,
.size-choice__arrow {
	@include inline-block(middle);
}

.size-choice__size {
	@include inline-block(middle);
	margin-left: 6px;
}

.size-choice__arrow {
	width: 10px;
	height: 6px;
	margin-left: 10px;
	background: url(../img/icons/catalog/size_arrow.png)no-repeat;
	background-size: contain;

	@include phones {
		margin-left: 4px;
	}
}

.card__size-value-list {
	display: none;
	position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    text-align: center;
    background: #fff;
    border: 1px solid #b7b7b7;
    border-top: transparent;
    z-index: 1;

    @include laptop {
    	top: 46px;
    }
}

.card__size-value-link {
    display: block;
    padding: 2px 0;
    color: #252525;
    background: #fff;

    &:hover {
    	background: #e9e9e9;
    }
}

.card__size-watch-list {
	margin-top: 10px;
	font-size: 0;
	@extend %clearfix;
}

.card__size-watch-item {
	float: right;
	@include inline-block(middle);
	// width: 110px;
	font-size: rem(16px);
	// margin-left: 34px;

	&:first-child {
		float: left;
		margin-left: 0;
	}
}

.card__size-watch-link {
	display: inline-block;
	position: relative;
	width: 76px;
	margin-left: 28px;
	font-size: rem(12px);
	color: $black;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: -28px;
		width: 18px;
		height: 24px;
		margin-top: -12px;
	}

	@include top {
		width: 70px;
	}

	@include phones {
		width: 76px;
	}
}

.card__size-watch-link--learn {
	&:before {
		background: url(../img/card/card_size-learn.png) no-repeat;
	}
}

.card__size-watch-link--watch {
	&:before {
		background: url(../img/card/card_size-watch.png) no-repeat;
	}
}

.card__shops {
	margin-bottom: 20px;
	// padding-right: 10%;
	font-size: 0;
	@extend %clearfix;

	@include laptop {
		padding-right: 0;
	}

	@include tablets {
		padding-right: 10%;
	}

	@include phones {
		padding-right: 0;
	}
}

.card__shops-title {
	// float: left;
	@include inline-block(middle);
	// width: 200px;
	width: 50%;
	padding-right: 44px;
	font-size: rem(12px);

	@include phones {
		width: 100%;
		margin-bottom: 12px;
		padding-right: 96px;
	}
}

.card__shops-wrapp {
	// float: right;
	position: relative;
	@include inline-block(middle);
	// width: 260px;
	width: 50%;
	// margin-left: 16px;
	font-size: rem(12px);

	@include phones {
		width: 100%;
	}
}

.card__shops-wrapp.active {

	.card__shops-trigger {
		
		&:after {
			@include transform(rotate(-180deg));
		}
	}
}

.card__shops-trigger {
	position: relative;
	display: block;
	padding: 10px 16px;
	color: $black;
	background: #f0f0f0;

	&:after {
		content: "";
		position:absolute;
		top: 50%;
		right: 17px;
		width: 10px;
		height: 6px;
		margin-top: -3px;
		background: url(../img/icons/catalog/size_arrow.png) no-repeat;
		@include transition(.3s);
	}

	.card__shops-dotts,
	.card__shops-size {
		padding-right: 20px;
	}
}

.card__shops-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
}

.card__shops-item {
	padding: 10px 16px;
	background: #f0f0f0;
}

.card__wrapp-buy {
	margin-bottom: 20px;
	@extend %clearfix;

	@include phones {
		margin-bottom: 0;
	}
}

.card__buy {
	float: left;
	// width: 255px;
	width: 50%;
	padding: 0 14px 0 0;
	text-align: center;

	@include phones {
		width: 100%;
		padding: 0;
	}
}

.card__buy-link {
	display: block;
	padding: rem(14px);
	text-transform: uppercase;
	color: #fff;
	background: $blue;
	@include border-radius(24px);
}

.card__color {
	float: right;
	// width: 240px;
	width: 50%;
	margin-top: 12px;
	padding: 0 0 0 2px;
	// text-align: right;
	@extend %clearfix;

	@include phones {
		width: 100%;
		margin: 0 0 22px 0;
		padding: 0;
	}
}

.card__color-title {
	float: left;
	width: 40%;
	// @include inline-block(middle);
	text-transform: uppercase;
	font-size: rem(14px);
}

.card__color-list {
	float: left;
	width: 60%;
	// @include inline-block(middle);
	// margin-left: 42px;
	// margin: 0 -8px 0 0;
	font-size: 0;
}

.card__color-item {
	@include inline-block(middle);
	margin: 0 4px 8px;
	// margin-bottom: 8px;

	&:first-child {
		// margin-left: 0;
	}
}

.card__color-link {
	display: block;
	// padding: 0 4px;
}

.card__color-value {
	width: 16px;
	height: 16px;
	@include border-radius(50%);
}

.card__color-value--green {
	background: #42e85a;
}

.card__color-value--turquoise {
	background: #45e9d0;
}

.card__color-value--orange {
	background: #ff8400;
}

.card__color-value--grey {
	background: #c2c2c2;
}

.card__tabs {
	// width: 480px;
	margin-bottom: 12px;
	// padding-right: 10%;

	@include laptop {
		padding-right: 0;
	}

	@include tablets {
		// padding-right: 10%;
	}

	@include phones {
		display: none;
	}
}

.card__tabs-list {
	width: 100%;
	text-align: justify;
	font-size: 0;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0px;
	}
}

.card__tabs-item {
	@include inline-block(top);
	font-size: rem(16px);

	@include phones {
		display: block;
	}
}

.card__tabs-item.active {
	.card__tabs-link {
		color: $black;

		&:after {
			content: none;
		}
	}
}

.card__tabs-link {
	position: relative;
	@include inline-block(middle);
	text-transform: uppercase;
	font-size: rem(14px);
	color: $blue;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 2px;
		background: url(../img/card/card-dotted.png);
	}
}

.card-rating__list {
	@include inline-block(middle);
	font-size: 0;
}

.card-rating__item {
	@include inline-block(middle);
}

.card__content {
	width: 100%;

	@include tablets {
		width: 100%;
	}

	@include phones {
		display: none;
	}
}

// .card__content-list {
// 	padding-right: 34px;

// 	@include laptop {
// 		padding-right: 0;
// 	}

// 	@include tablets {
// 		// padding-right: 34px;
// 	}
// }

.card__content-item {
	display: none;
	min-height: 368px;
	padding-bottom: 15px;
}

.card__content-item.active {
	display: block;
}

#iblock_add {
	// margin-top: 40px;
	font-size: 14px;

	table {
		width: 100%;
		margin-bottom: 12px;
	}

	tr {
		margin-bottom: 10px;
	}

	textarea {
		height: 80px;
	}

	.well {
		@extend %clearfix;

		span {
			float: left;
			width: 200px;
		}

		.input-btn {
			float: right;
			padding: 12px 0;
			text-align: center;
			cursor: pointer;
		}
	}

	@include tablets {
		.well {

			span {
				width: auto;
			}
		}
	}

	@include phones {
		margin-top: 6px;
	}
}

.card__desc-list {
	margin-bottom: 14px;

	&:last-child {
		margin-bottom: 0;
	}
}

.card__desc-item {
	position: relative;
	margin-left: 16px;
	font-size: rem(14px);

	&:before {
		content: "";
		position: absolute;
		top: 12px;
		left: -14px;
		width: 4px;
		height: 4px;
		margin-top: -2px;
		background: $black;
		@include border-radius(50%);
	}
}

.card__desc-notice {
	margin-bottom: 14px;
	font-size: rem(14px);
}

.card__desc-notice span {
	text-transform: uppercase;
}

.card__features-list {
	margin-bottom: 20px;
	font-size: rem(14px);
	@extend %clearfix;
}

.card__features-item {
	@extend %clearfix;
}

.card__features-title {
	float: left;
}

.card__features-desc {
	float: right;
	// margin-right: 34px;
}

.card__accordion {
	display: none;

	@include phones {
		display: block;
	}
}

.card__accordion-item {
	padding: 0 0 0 20px;
	border-top: 1px solid $grey;

	&:first-child {
		border-top: none;
	}

	&.active {
		// border-top: 1px solid transparent;

		.card__accordion-link {
			&:after {
			    @include transform(rotate(-180deg));;
			}
		}
		.card__accordion-content {
			display: block;

		}
	}
}

.card__accordion-link {
	position: relative;
	display: block;
	padding: 16px 0;
	text-transform: uppercase;
	font-size: 14px;
	color: $black;

	&:after {
	    content: "";
	    position: absolute;
	    top: 50%;
	    right: 20px;
	    width: 10px;
	    height: 6px;
	    @include transform(translateY(-50%));
	    background: url(../img/icons/catalog/size_arrow.png);
	    @include transition(.3s);
	}

	span {
		@include inline-block(middle);
	}

	.card-rating__list {
		margin-left: 8px;
	}
}

.card__accordion-content {
	display: none;
	margin-bottom: 20px;
}

.card__socials {
	margin-bottom: 6px;
	padding: 6px 0;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	@extend %clearfix;

	@include phones {
		margin-bottom: 16px;
		padding: 12px 0;
	}
}

.card__socials-title {
	float: left;
	margin-top: 5px;
	margin-left: 16px;
	text-transform: uppercase;
	font-size: rem(14px);
}

.card__socials-list {
	float: right;
	margin-top: 4px;
	margin-right:12px;

	@include phones {
		margin-right: 0;
	}
}

.card__socials-item {
	@include inline-block(middle);
	margin-left: 20px;

	&:first-child {
		margin-left: 0;
	}

	@include phones {
		margin-left: 12px;
	}
}

.card__socials-link {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.card__socials-link--fb {
	background: url(../img/card/card-fb.png) no-repeat center;
}

.card__socials-link--vk {
	background: url(../img/card/card-vk.png) no-repeat center;
}

.card__socials-link--tw {
	background: url(../img/card/card-tw.png) no-repeat center;
}

.card__socials-link--in {
	background: url(../img/card/card-in.png) no-repeat center;
}

.card__info-list {
	display: inline-block;
	width: 100%;
	text-align: justify;
	font-size: 0;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
	}
}

.card__info-item {
	@include inline-block(middle);
	font-size: rem(16px);

	@include phones {

		&:nth-child(2n+1) {
			width: 42%;
		}

		&:nth-child(2n) {
			width: 58%;
		}

		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 14px;
		}
	}
}

.card__info-link {
	position: relative;
	padding-left: 26px;
	text-transform: uppercase;
	font-size: rem(12px);
	color: $black;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 20px;
		height: 20px;
		margin-top: -10px;
	}
}

.card__info-link--sh {
	&:before {
		background: url(../img/card/card_info-sh.png)no-repeat center center;
	}
}

.card__info-link--pa {
	&:before {
		background: url(../img/card/card_info-pa.png)no-repeat center center;
	}
}

.card__info-link--ma {
	&:before {
		background: url(../img/card/card_info-ma.png)no-repeat center center;
	}
}

.card__info-link--gu {
	&:before {
		background: url(../img/card/card_info-gu.png)no-repeat center center;
	}
}

.card-look {
	margin-bottom: 58px;

	@include phones {
		margin-bottom: 34px;
	}
}

.card-look__list {
	margin: 0 -14px;
	font-size: 0;
}

.card-look__banner {
	@include inline-block(top);
	position: relative;
	height: 332px;

	@include phones {
		display: block !important;
		width: 100% !important;
		height: auto !important;
		margin-bottom: 28px !important;
	}
}

.card-look__banner-text {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: rem(28px);

	@include phones {
		position: static;
		margin-left: 14px;
		padding: 0;
		text-align: left;
		font-size: 18px;
	}
}

.card-look__item {
	@include inline-block(top);
	width: 20%;
	font-size: rem(16px);

	@include top {
		width: 25%;
	}

	@include laptop {
		width: 33.3%;
	}

	@include tablets {
		width: 50%;
	}

	@include phones {
		margin-bottom: 20px;

		&:nth-child(2n) {
			.card-look__block {
				padding-right: 7px;
			} 
		}

		&:nth-child(2n+1) {
			.card-look__block {
				padding-left: 7px;
			}
		}
	}
}

.card-look__block {
	position: relative;
	padding: 0 14px;
}

.card-look__img {
	position: relative;
	height: auto;

	&:hover {
		.card-look__btns,
		.slick-arrow {
			display: block!important;
		}
	}
}

.card-look__img-bg {
	display: none;
	height: 100%;
	background: rgba(0, 0, 0, .5);
}

.card-look__btns {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	@extend %clearfix;
}

.card-look__btns.active {
	display: block;
}

.card-look__buy {
	float: left;
	display: block;
	position: relative;
	width: 50px;
	height: 45px;
	text-indent: -9999px;
	background: #b7b7b7;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 18px;
		height: 26px;
		margin: auto;
		@include transform(translateY(-50%));
		background: url(../img/icons/catalog/basket.png) no-repeat;
		background-size: contain;
	}

	@include laptop {
		width: 48px;
	}

	@include phones {
		width: 32px;
		height: 32px;

		&:after {
			width: 14px;
			height: 20px;
		}
	}
}

.card-look__size {
	float: left;
	position: relative;
	width: calc(100% - 50px);
	background: #fff;
	cursor: pointer;

	@include laptop {
		width: calc(100% - 48px);
	}

	@include phones {
		width: calc(100% - 32px);
	}
}

.card-look__size-title {
	position: relative;
	// padding: 12px 0;
	// padding: 14px 0 13px 0;
	height: 45px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-size: 12px;
	border: 1px solid #b7b7b7;
	// border-bottom: transparent;

	// &:after {
	// 	content: "";
	// 	position:absolute;
	// 	top: 50%;
	// 	right: 12px;
	// 	width: 10px;
	// 	height: 6px;
	// 	@include transform(translateY(-50%));
	// 	background: url(../img/icons/catalog/size_arrow.png)no-repeat;
	// 	background-size: contain;
	// }

	@include tablets {
		font-size: 10px;
	}

	@include phones {
		height: 32px;
		line-height: 32px;
		text-align: center;
		font-size: 8px;

		// &:after {
		// 	right: 12px;
		// 	width: 8px;
		// 	height: 5px;
		// }
	}
}

.card-look__size-list {
	display: none;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
	padding-bottom: 15px;
	text-align: center;
	background: #fff;
	border: 1px solid #b7b7b7;
	border-top: transparent;
	z-index: 1;

	@include phones {
		top: 30px;
		padding-bottom: 8px;
	}
}

.card-look__size-link {
	display: block;
	padding: 2px 0;
	font-size: rem(14px); 
	color: $black;
	background: #fff;

	&:hover {
		background: #e9e9e9;
	}
}

.card-look__stock-list {
	position: absolute;
	bottom: 80px;
	left: 0;
	width: 130px;
	font-size: 0;

	@include phones {
		bottom: 37px;
	}
}

.card-look__stock-item {
	display: inline-block;
	margin-top: 4px;
	padding: 2px 18px;
	text-align: center;
	font-size: rem(11px);
	font-size: rem(10px);

	&:first-child {
		margin-top: 0;
	}
}

.card-look__stock-item--last {
	background: $green;
}

.card-look__stock-item--sale {
	background: $red;
}

.card-look__stock-link {
	color: $black;
}

.card-look__desc-link {
	display: block;
	color: $black;

	&:hover {
		.card-look__desc-name {
			text-decoration: underline;
			color: $blue;
		}
	}
}

.card-look__desc-name {
	margin-top: 8px;
	font-size: rem(16px);
	font-size: rem(14px);

	@include phones {
		width: 100%;
		margin-top: 10px;
		font-size: 14px;
	}
}

.card-look__desc-price {
	text-align: right;
	font-size: rem(14px);

	@include phones {
		width: 100%;
	    margin-top: 3px;
		text-align: left;
	}
}

.card-look__desc-descount {
	margin-right: 8px;
	text-decoration: line-through;
	color: $grey;
}

.card-look__desc-value {
	margin-right: 4px;
	font-weight: bold;

	@include phones {
		font-size: 16px;
	}
}

.card-look__desc-sign {
	font-size: rem(13px);

	@include phones {
		font-size: 14px;
	}
}

.card-look__preloader {
	width: 30px;
	height: 30px;
	margin: 26px auto;
	background: url(../img/decor/preloader.png)no-repeat;
}