.catalog-random {
	margin-bottom: 16px;

	@include tablets {
		display: none;
	}
}

.catalog-random--panel {
	display: none;

	@include tablets {
		display: block;
		margin-top: 18px;
		padding: 20px;
    	text-align: justify;

    	.catalog-random__list {
    		margin: 0 -15px;
    	}

    	.catalog-random__item {
    		padding: 0 15px;
    		margin: 0 0 10px;
    	}
	}
}

.catalog-random__list {
	font-size: 0;
}

.catalog-random__item {
	@include inline-block(middle);
	margin-right: 20px;
	font-size: 16px;

	&:last-child {
		margin-right: 0;
	}
}

.catalog-random__link {
	font-size: 14px;
	color: $grey;

	&:hover {
		text-decoration: underline;
	}
}