.filtr {
	margin-bottom: 16px;
	@extend %clearfix;
}

.filtr__title {
	float: left;
	position: relative;
	width: 10%;
	margin-top: 2px;
	padding-left: 24px;
	text-transform: uppercase;
	font-size: rem(14px);
	font-family: 'Robotomedium';

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 16px;
		height: 14px;
		margin-top: -6px;
		background: url(../img/icons/catalog/filter.png) no-repeat;
	}
}

.filtr-apply__link {
	display: block;
	margin-top: 12px;
	padding: 6px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: rem(12px);
	color: $blue;
	border: 1px solid $blue;
	@include border-radius(16px);

	&:hover {
		color: #fff;
		background: $blue;
	}
}

.filtr-color {
	position: relative;
	float: left;
	width: 16%;
}

.filtr-size {
	position: relative;
	float: left;
	width: 16%;
}

.filtr-type {
	position: relative;
	float: left;
	width: 18%;
}

.filtr-clear {
	position: relative;
	float: left;
	width: 12%;
}

.filtr-color__link,
.filtr-size__link, 
.filtr-type__link {
	position: relative;
	display: block;
	// width: 140px;
	text-transform: uppercase;
	font-size: rem(14px);
	color: $black;
	cursor: pointer;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 7px;
		height: 1px;
		background: $grey;
	}

	&:before {
		@include transform(rotate(45deg));
	}

	&:after {
		@include transform(rotate(-45deg));
	}
}

.filtr-color__link {
	padding-left: 26px;

	&:before {
		right: 37px;
	}

	&:after {
		right: 42px;
	}
}

.filtr-color__link.active {

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr-size__link {
	padding-left: 25px;

	&:before {
		right: 19px;
	}

	&:after {
		right: 24px;
	}
}

.filtr-size__link.active {

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr-type__link {
	padding-left: 15px;

	&:before {
		right: 72px;
	}

	&:after {
		right: 67px;
	}
}

.filtr-type__link.active {

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr input {
	position: absolute;
	opacity: 0;
}

.filtr__dropdown-title {
	margin-bottom: 8px;
	padding-left: 16px;
	font-size: rem(14px);
}

.filtr-color__dropdown,
.filtr-size__dropdown,
.filtr-type__dropdown {
	display: none;
	position: absolute;
	top: 30px;
	width: 140px;
	padding: 10px 12px;
	border: 1px solid #b7b7b7;
	background: #fff;
	z-index: 10;
}

.filtr-type__dropdown {
	width: 230px;
}

.filtr-color__item,
.filtr-size__item,
.filtr-type__item {
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.filtr-color__desc,
.filtr-size__desc,
.filtr-type__desc {
	position: relative;
	padding: 3px 0 3px 16px;
	font-size: rem(14px);
	cursor: pointer;

	&:before, &:after {
		content: "";
		display: none;
		position: absolute;
		top: 50%;
		right: 5px;
		width: 8px;
		height: 1px;
		background: #fff;
	}

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr-type__desc {
	padding: 3px 20px 3px 16px;
}

.filtr-color__desc.selected {
	color: #fff;
}

.filtr-color__input--white {
	.filtr-color__desc {
		border: 1px solid transparent;
	}
}

.filtr-color__input--white:checked + .filtr-color__desc {
	padding: 2px 0 2px 16px; 
	border: 1px solid $grey;
	background: #fff;

	&:before, &:after {
		display: block;
		background: $grey;
	}
}

.filtr-color__input--turquoise:checked + .filtr-color__desc {
	color: #fff;
	background: #45e9d0;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--green:checked + .filtr-color__desc {
	color: #fff;
	background: #42e85a;

	&:before, &:after {
		display: block;
	}

}

.filtr-color__input--red:checked + .filtr-color__desc {
	color: #fff;
	background: #f61919;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--yellow:checked + .filtr-color__desc {
	color: #fff;
	background: #fffc21;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--orange:checked + .filtr-color__desc {
	color: #fff;
	background: #ff8400;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--blue:checked + .filtr-color__desc {
	color: #fff;
	background: #455bfd;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--purple:checked + .filtr-color__desc {
	color: #fff;
	background: #a63cf0;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--black:checked + .filtr-color__desc {
	color: #fff;
	background: #252525;

	&:before, &:after {
		display: block;
	}
}

.filtr-size__input:checked + .filtr-size__desc {
	color: #fff;
	background: $blue;

	&:before, &:after {
		display: block;
	}
}

.filtr-type__input:checked + .filtr-type__desc {
	color: #fff;
	background: $blue;

	&:before, &:after {
		display: block;
	}
}

.filtr-clear__link {
	position: relative;
	top: -3px;
	display: inline-block;
	padding: 4px 28px 4px 14px;
	text-transform: uppercase;
	font-size: rem(12px);
	color: $grey;
	border: 1px solid $grey;
	@include border-radius(16px);

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		width: 10px;
		height: 1px;
		background: $grey;
		@include transform(rotate(-45deg));
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		width: 10px;
		height: 1px;
		background: $grey;
		@include transform(rotate(45deg));
	}
}

.filtr-sort {
	position: relative;
	float: right;
	width: 26%;
    margin-top: 0;
    text-align: right;
	font-size: rem(11px);
	color: $grey;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 7px;
		height: 1px;
		background: $black;
	}

	&:before {
		right: 4px;
		@include transform(rotate(45deg));
	}

	&:after {
		right: 0px;
		@include transform(rotate(-45deg));
	}
}

.filtr-sort__value {
	position: absolute;
	top: 1px;
	margin-left: 8px;
	color: $black;
}

.filtr-sort__select {
	font-size: rem(11px);
	font-family: 'Robotolight';
	border: none;
	opacity: 0;
}