.filtr {
	margin-bottom: 16px;
	@extend %clearfix;

	@include tablets {
	
	}
}

.filtr-toggle__link {
	display: none;
	position: relative;
	float: left;
	width: 16px;
    height: 14px;
	font-size: 0;

	&:before {
		content: "";
	    position: absolute;
	    top: 50%;
	    left: 0;
	    width: 16px;
	    height: 14px;
	    margin-top: -6px;
	    background: url(../img/icons/catalog/filter.png) no-repeat;
	    background-size: contain;
	}

	@include tablets {
		display: block;
	}
}

.filtr__wrapp {
	float: left;
	width: 74%;
	@extend %clearfix;

	@include tablets {
		position: absolute;
		top: 0;
		left: -9999px;
		bottom: 0;
		width: 300px;
		height: 100vh;
		background: #fff;
		overflow: auto;
	    z-index: 11;

		&.open {
			left: 0;
		}
	}
}

.filtr-close {
	display: none;
	position: absolute;
	top: 20px;
	right: 17px;
	width: 16px;
	height: 14px;
	font-size: 0;
	z-index: 1;
	cursor: pointer;

	@include tablets {
		display: block;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 16px;
			height: 14px;
			@include transform(translateY(-50%));
			background: url(../img/decor/close.png) no-repeat;
			background-size: contain;
		}
	}
}

.filtr-title {
	float: left;
	position: relative;
	width: 10%;
	width: 14%;
	margin-top: 2px;
	padding-left: 24px;
	text-transform: uppercase;
	font-size: rem(14px);
	font-family: 'Robotomedium';

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 16px;
		height: 14px;
		margin-top: -6px;
		background: url(../img/icons/catalog/filter.png) no-repeat;
	}

	@include tablets {
		margin: 0;
		width: 100%;
		padding: 16px 55px;

		&:before {
			left: 20px;
		}
	}
}

.filtr-apply__link {
	display: block;
	margin-top: 12px;
	padding: 6px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: rem(12px);
	color: $blue;
	border: 1px solid $blue;
	@include border-radius(16px);

	&:hover {
		color: #fff;
		background: $blue;
	}


}

.filtr-color {
	position: relative;
	float: left;
	width: 16%;
	width: 22%;
}

.filtr-size {
	position: relative;
	float: left;
	width: 16%;
	width: 21%;
}

.filtr-type {
	position: relative;
	float: left;
	width: 18%;
	width: 23%;
}

.filtr-clear {
	position: relative;
	float: left;
	width: 12%;
	width: 20%;

	@include tablets {
		float: none;
		width: 100%;
	}
}

.filtr-title,
.filtr-color,
.filtr-size,
.filtr-type {

	@include tablets {
		float: none;
		width: 100%;
		// padding: 0 20px;
		border-bottom: 1px solid rgba(242, 242, 242, .55);
	}
}

.filtr-color__link,
.filtr-size__link, 
.filtr-type__link {
	position: relative;
	display: block;
	// width: 140px;
	text-transform: uppercase;
	font-size: rem(14px);
	color: $black;
	cursor: pointer;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 7px;
		height: 1px;
		background: $grey;
	}

	&:before {
		@include transform(rotate(45deg));
	}

	&:after {
		@include transform(rotate(-45deg));
	}

	@include tablets {
		margin: 0 !important;
		padding: 16px 20px !important;

		&:before {
			right: 20px !important;
		}

		&:after {
			right: 25px !important;
		}
	}
}

.filtr-color__link {
	margin-left: 26px;

	&:before {
		right: 37px;
	}

	&:after {
		right: 42px;
	}
}

.filtr-color__link.active {

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr-size__link {
	margin-left: 26px;

	&:before {
		right: 19px;
	}

	&:after {
		right: 24px;
	}
}

.filtr-size__link.active {

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr-type__link {
	margin-left: 26px;

	&:before {
		right: 72px;
	}

	&:after {
		right: 67px;
	}
}

.filtr-type__link.active {

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr input {
	position: absolute;
	opacity: 0;
}

.filtr__dropdown-title {
	margin-bottom: 8px;
	padding-left: 16px;
	font-size: rem(14px);
}

.filtr-color__dropdown,
.filtr-size__dropdown,
.filtr-type__dropdown {
	display: none;
	position: absolute;
	top: 30px;
	width: 140px;
	padding: 10px 12px;
	border: 1px solid #b7b7b7;
	background: #fff;
	z-index: 10;

	@include tablets {
		position: static;
		width: 100% !important;
		padding: 0 20px 30px;
		border: none;

		.filtr-apply__link {
			display: none;
		}
	}
}

.filtr-type__dropdown {
	width: 230px;
}

.filtr-color__item,
.filtr-size__item,
.filtr-type__item {
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.filtr-color__desc,
.filtr-size__desc,
.filtr-type__desc {
	position: relative;
	padding: 3px 0 3px 16px;
	font-size: rem(14px);
	cursor: pointer;

	&:before, &:after {
		content: "";
		display: none;
		position: absolute;
		top: 50%;
		right: 5px;
		width: 8px;
		height: 1px;
		background: #fff;
	}

	&:before {
		@include transform(rotate(-45deg));
	}

	&:after {
		@include transform(rotate(45deg));
	}
}

.filtr-type__desc {
	padding: 3px 20px 3px 16px;
}

.filtr-color__desc.selected {
	color: #fff;
}

.filtr-color__input--white {
	.filtr-color__desc {
		border: 1px solid transparent;
	}
}

.filtr-color__input--white:checked + .filtr-color__desc {
	padding: 2px 0 2px 16px; 
	border: 1px solid $grey;
	background: #fff;

	&:before, &:after {
		display: block;
		background: $grey;
	}
}

.filtr-color__input--turquoise:checked + .filtr-color__desc {
	color: #fff;
	background: #45e9d0;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--green:checked + .filtr-color__desc {
	color: #fff;
	background: #42e85a;

	&:before, &:after {
		display: block;
	}

}

.filtr-color__input--red:checked + .filtr-color__desc {
	color: #fff;
	background: #f61919;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--yellow:checked + .filtr-color__desc {
	color: #fff;
	background: #fffc21;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--orange:checked + .filtr-color__desc {
	color: #fff;
	background: #ff8400;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--blue:checked + .filtr-color__desc {
	color: #fff;
	background: #455bfd;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--purple:checked + .filtr-color__desc {
	color: #fff;
	background: #a63cf0;

	&:before, &:after {
		display: block;
	}
}

.filtr-color__input--black:checked + .filtr-color__desc {
	color: #fff;
	background: #252525;

	&:before, &:after {
		display: block;
	}
}

.filtr-size__input:checked + .filtr-size__desc {
	color: #fff;
	background: $blue;

	&:before, &:after {
		display: block;
	}
}

.filtr-type__input:checked + .filtr-type__desc {
	color: #fff;
	background: $blue;

	&:before, &:after {
		display: block;
	}
}

.filtr-clear__list {
	margin: 20px 0 0 0;
	font-size: 0;
}

.filtr-clear__item {
	&:first-child {
		display: none;
	}

	@include tablets {
		@include inline-block(top);
		width: 50%;
		padding: 0 20px 0 10px;
		font-size: 16px;

		&:first-child {
			@include inline-block(top);
			padding: 0 10px 0 20px;
		}
	}
}

.filtr-clear__link--reset {
	position: relative;
	top: -3px;
	display: inline-block;
	padding: 4px 28px 4px 14px;
	text-transform: uppercase;
	font-size: rem(12px);
	color: $grey;
	border: 1px solid $grey;
	@include border-radius(16px);

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		width: 10px;
		height: 1px;
		background: $grey;
		@include transform(rotate(-45deg));
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		width: 10px;
		height: 1px;
		background: $grey;
		@include transform(rotate(45deg));
	}

	&:hover {
		color: #fff;
		background: $grey;
		
		&:before, &:after {
			background: #fff;

		}
	}

	@include tablets {
		display: block;
		top: 0;
		padding: 8px 28px 8px 14px;
		text-align: center;
	}	
}

.filtr-clear__link--apply {
	display: block;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: rem(12px);
	color: $blue;
	border: 1px solid $blue;
	@include border-radius(16px);

	&:hover {
		color: #fff;
		background: $blue;
	}
}

.filtr-sort {
	position: relative;
	float: right;
	width: 26%;
    margin-top: 0;
    text-align: right;
	font-size: rem(11px);
	color: $grey;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 7px;
		height: 1px;
		background: $black;
	}

	&:before {
		right: 4px;
		@include transform(rotate(45deg));
	}

	&:after {
		right: 0px;
		@include transform(rotate(-45deg));
	}

	@include tablets {
		width: 80%;
	}
}

.filtr-sort__value {
	position: absolute;
	top: 1px;
	margin-left: 8px;
	color: $black;
}

.filtr-sort__select {
	font-size: rem(11px);
	font-family: 'Robotolight';
	border: none;
	opacity: 0;
	cursor: pointer;
}