.footer {
	padding: 0 0 rem(45px);

	@include phones {
		padding: 0 0 rem(14px);
	}
}

.footer__top {
    margin-bottom: 40px;
}

.shipment {
	position: relative;
	padding: rem(32px) 0;
	text-transform: uppercase;
	text-align: center;
	font-size: rem(18px);
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;

	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	height: 1px;
	// 	background: $black;
	// }

	span {
		font-weight: bold;
	}

	@include desktop {
		// font-size: 16px;
	}

	@include laptop {
		// font-size: 14px;
	}

	@include phones {
		padding: 18px 16px;
		font-size: 16px;
	}
}

.footer__socials {
	margin-bottom: 60px;
	font-size: 0;
	@extend %clearfix;

	@include phones {
		margin-bottom: 14px;
	}
}

.footer__counter {
	margin-bottom: rem(58px);

	@include phones {
		margin-bottom: 28px;
	}
}

.counter {
	font-size: 0;
}

.counter__left,
.counter__right {
	@include inline-block(top);
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;

	@include tablets {
		width: 100%;
	}
}

.counter__left {
	padding-right: 3px;

	.counter__text {
	    padding: 23px 0 21px;
		border: 1px solid $blue;
	}

	@include tablets {
		margin-bottom: 14px;
		padding-right: 0;
	}

	@include phones {
		margin-bottom: 18px;
		.counter__text {
			padding: 16px 10px;
		}

		p {
			&:last-child {
				display: block;
			}
		}
	}
}

.counter__right {
	padding-left: 3px;

	.counter__text {
		padding: 26px 0 25px;
		border: 1px solid $pink;
	}

	@include tablets {
		padding-left: 0;
	}

	@include phones {
		.counter__text {
			padding: 14px 14px;
		}
	}
}

.counter__text {
	text-align: center;
	font-size: 18px;

	p,
	ul {
		@include inline-block(middle);
	}

	span {
		font-weight: bold;
	}

	@include desktop {
		font-size: 16px;
	}

	@include laptop {
		font-size: 12px;
	}

	@include phones {
		font-size: 18px;
	}
}

.counter__list {
	display: inline-block;
	font-size: 0;
}

.counter__item {
	position: relative;
	@include inline-block(top);
	margin-left: 1px;
	padding: 0 5px;
	font-weight: bold;
	font-size: 23px;
	border: 1px solid #252525;
	@include border-radius(1px);

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		padding: 16px 12px 16px 11px;
		span {
			position: absolute;
    		top: -4px;
    		left: 4px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
    		left: 1px;
			width: 88%;
			height: 15px;
			background: linear-gradient(top, #fff 30%, transparent 100%);
		}
	}

	@include desktop {
		font-size: 21px;

		&:last-child {
			padding: 14px 11px 15px 10px;
			
			&:after {
				height: 13px;
			}
		}
	}

	@include laptop {
		font-size: 17px;
		padding: 0 4px;

		&:last-child {
			padding: 12px 9px 11px 9px;

			&:after {
				height: 10px;
			}
		}
	}

	@include phones {
		font-size: 24px;
		padding: 0 5px;

		&:last-child {
			padding: 17px 12px 16px 12px;

			&:after {
				height: 10px;
			}
		}
	}
}

.footer__nav {
	margin-bottom: rem(44px);

	.nav {
		width: 70%;
		margin: 0 auto;

		@include top {
			width: 76%
		}

		@include desktop {
			width: 78%
		}

		@include laptop {
			width: 100%
		}

		@include tablets {
			// width: 75%
		}
	}

	.nav__item {
		margin-bottom: 14px;
	}

	@include phones {
		display: none;
	}
}

.footer__bootom {
	text-align: center;
}

.footer__logo {
	width: 160px;
	height: 90px;
	margin: 0 auto rem(40px);
}

.footer__copyright {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: rem(12px);

	@include phones {
		font-size: 12px;
	}
}


/* ----------------------------------- */

.market {
	@include inline-block(middle);
	width: 34%;
	text-align: right;

	@include top {
		width: 33%;
	}

	@include laptop {
		text-align: center;
	}

	@include tablets {
		width: 100%;
		margin-bottom: 28px;
	}

	@include phones {
		width: 100%;
		margin-bottom: 28px;
	}
}

.market__left {
	@include inline-block(middle);
    width: 100px;

    @include laptop {
		display: block;
		margin: 0 auto;
	}

	@include tablets {
		@include inline-block(middle);
		
	}

	@include phones {
		@include inline-block(middle);
		
	}
}

.market__right {
	display: inline-block;
	margin-left: 10px;
	text-align: center;

	@include laptop {
		margin-left: 0;
	}

	@include tablets {
		margin-left: 10px;
	}

	@include phones {
		margin-left: 10px;
	}
}

.market__desc {
	margin-bottom: 8px;
	font-size: rem(12px);

	@include phones {
		margin-left: 0;
		font-size: 11px;
	}
}

.market__rating {
	position: relative;
	padding: 0 10px;
	border: 1px solid #868686;
	@include border-radius(10px);

	&:after {
		content: "";
		position: absolute;
		top: -14px;
		right: 14px;
		width: 16px;
		height: 14px;
		background: url(../img/decor/ya-decor.png) no-repeat;
	}


}

.market__rating-text {
    margin-right: 6px;
	padding: 7px 0 8px 0;
    font-size: rem(10px);
	color: $black;

	@include phones {
		font-size: 9px;
	}
}

.rating__list {
	@include inlineblock(middle);
	font-size: 0;
}

.rating__item {
	@include inlineblock(middle);
}

.socials {
	@include inline-block(middle);
	width: 66%;
	text-align: left;

	@include top {
		width: 67%;
	}

	@include tablets {
		width: 100%;
		text-align: center;
	}

	@include phones {
		width: 100%;
	}
}

.socials__list {
	font-size: 0;

	@include tablets {
		// display: block;
		margin: 0 -12px;
	}
}

.socials__item {
	@include inline-block(top);
	width: 155px;
	margin-left: 56px;
	text-align: center;
	font-size: rem(16px);

	&:first-child {
		// margin-left: 0;
		@include laptop {
			margin-left: 0;
		}
	}

	@include top {
		margin-left: 40px;
	}

	@include desktop {
		width: 150px;
	}

	@include laptop {
		width: 120px;
		margin-left: 24px;
	}

	@include tablets {
		width: 33.3%;
		margin-left: 0;
		padding: 0 12px;
	}

	@include phones {
		display: block;
		width: 155px;
		margin: 0 auto 24px; 

		&:first-child {
			margin: 0 auto 24px; 
		}
	}
}

.socials__desc {
	margin-bottom: 10px;
	font-size: rem(12px);

	@include phones {
		font-size: 11px;
	}
}

.market__rating-text,
.market__rating-icon,
.socials__desc-number,
.socials__desc-participant {
	@include inline-block();
}

.socials__desc-participant {
	text-transform: lowercase;
}

.socials__link {
	display: block;
	@include border-radius(3px);
}

.socials__link--ig {
	background: #515151;

	.socials__logo {
		padding: 4px 0 6px!important;
	}
}

.socials__link--vk {
	background: #878787;
}

.socials__link--fb {
	background: #7e7e7e;
}

.socials__logo-icon,
.socials__logo-text {
	@include inline-block(middle);
}

.socials__logo-text {
	margin-left: 3px;

	@include phones {
		font-size: 14px;
	}
}

.socials__logo-icon--ig {
	margin-top: 3px;
}

.socials__logo-icon--vk {
	margin-top: 1px;
}

.socials__logo {
	position: relative;
	padding: 4px 0 8px;
	color: #fff;
    font-size: rem(12px);

    @include laptop {
		padding: 6px 0 8px;
	}

	@include laptop {
		padding: 6px 0 8px;
	}
}