.index-popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	@include transform(translateY(-50%));
	width: 700px;
	height: 500px;
	margin: auto;
	color: #fff;
	background: url(../img/bg/index_popup.png)no-repeat;
	background-color: $blue;
	background-size: contain;
	@include box-shadow(0 1px 10px rgba(0,0,0, .25));
	z-index: 10;
	@extend %clearfix;

	&.open {
		display: block;
	}

	::-webkit-input-placeholder {color: #fff; font-size: 14px; font-family: 'Robotolight';}
	::-moz-placeholder          {color: #fff; font-size: 14px; font-family: 'Robotolight';}/* Firefox 19+ */
	:-moz-placeholder           {color: #fff; font-size: 14px; font-family: 'Robotolight';}/* Firefox 18- */
	:-ms-input-placeholder      {color: #fff; font-size: 14px; font-family: 'Robotolight';}

	@include tablets {
		width: 605px;
		height: 430px;
	}

	@include bigphone {
		width: 300px;
		height: 428px;
		background-image: none;
	}


}

.index-popup__left {
	float: left;
	width: 50%;
	height: 100%;

	@include bigphone {
		display: none;
	}
}

.index-popup__right {
	// position: relative;
	float: left;
	width: 50%;
	height: 100%;
	padding: 30px;

	@include tablets {
    	padding: 25px;
    }

    @include bigphone {
		width: 100%;
	}
}

.index-popup__block {
	position: relative;
	height: 100%;
}

.index-popup__close,
.language-popup__close {
	position: absolute;
	top: 7px;
	right: 7px;
}

.index-popup__close-link, 
.language-popup__close-link {
	display: block;
	width: 24px;
	height: 24px;
	font-size: 0;

	&:before,&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 24px;
		height: 2px;
		background: #fff;
	}

	&:before {
		@include transform(rotate(225deg));
	}

	&:after {
		@include transform(rotate(-45deg));
	}

	@include bigphone {
		width: 20px;
		height: 20px;

		&:before,&:after {
			width: 20px;
			height: 2px;
			background: #fff;
		}
	}
}

.index-popup__title {
	position: relative;
    margin-bottom: 22px;
	text-transform: uppercase;
	font-size: 28px;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -9px;
		width: 125px;
		height: 1px;
		background: #fff;
	}

	@include tablets {
		font-size: 20px;
	}
}

.index-popup__desc {
	margin-bottom: 18px;
	text-transform: uppercase;
	font-size: 14px;

	@include tablets {
		margin-bottom: 10px;
		font-size: 11px;
	}
}

.index-popup__form {
	overflow: hidden;
	
	.index-popup__desc {
		margin-bottom: 8px;
	}
}

.index-popup__form-wrapp {
	margin-bottom: 12px;

	&:first-child {
		margin-bottom: 10px;
	}
}

.index-popup__form-wrapp--date {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		width: 25px;
		height: 21px;
		@include transform(translateY(-50%));
		background: url(../img/icons/calendar.png)no-repeat;
	}

	@include tablets {
		margin-bottom: 6px;
	}
}

.index-popup__input {
	font-size: 14px;
	color: #fff;
	border: 1px solid #fff;
	outline: none;
}

.index-popup__checkbox {
	position: relative;
	cursor: pointer;
}

.index-popup__checkbox-fake {
	@include inline-block(middle); 
	position: relative;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	border: 1px solid #fff;
	background: $blue;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 10px;
		height: 10px;
		@include transform(translateY(-50%));
		margin: auto;
		background: url(../img/decor/che-white.png)no-repeat;
		background-size: contain;
	}
}

.index-popup__checkbox-input:checked + .index-popup__checkbox-fake {
	background: #fff;

	&:before {
	    display: block;
	}
}

.index-popup__checkbox-text {
	font-size: 12px;

	@include tablets {
		font-size: 10px;
	}
}

.index-popup__btns {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.index-popup__btn {
	width: 100%;
	padding: 12px 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: $blue;
	background: #fff;
	border: none;
	@include border-radius(25px);
	cursor: pointer;
}