.banner {
	height: 668px;
	@extend %clearfix;

	@include desktop {
		height: 460px;
	}

	@include tablets {
		height: 340px;
	}
}

.banner__left,
.banner__right {
	float: left;
	height: 100%;
}

.banner__left {
	width: 53%;
	padding-right: 4px;

	.banner__img {
		background-color: $blue;
	}

	.banner__desc {
		position: absolute;
		top: 50%;
		right: 68px;
		margin-top: -120px;
	}

	@include phones {
		width: 100%;
		margin: 0 0 8px 0;
		padding: 0;

		.banner__desc {
			top: 66%;
			right: 8%;
			margin-top: -120px;
		}
	}
}

.banner__right {
	width: 47%;
	padding-left: 4px;

	@include phones {
		width: 100%;
		padding: 0;
	}
}

.banner__top {
	height: 68%;
	padding-bottom: 4px;

	.banner__img {
		background-color: $pink;
	}

	.banner__desc {
		position: absolute;
		top: 50%;
		left: 54px;
		margin-top: -79px;
	}

	.banner__desc-text {
		padding: 0 30px;
	}

	@include phones {
		.banner__desc {
			top: 62%;
			left: 6%;
		}
		.banner__desc-text {
			padding: 0 10px;
		}
	}
}

.banner__bottom {
	height: 32%;
	padding-top: 4px;

	.banner__img {
		background-color: $purple;
	}

	.banner__desc {
		position: absolute;
		top: 50%;
		right: 14px;
		margin-top: -39px;
	}

	.banner__desc-title {
		padding: 0 40px;
	}

	@include phones {
		.banner__desc {
			top: 66%;
			right: 1%;
		}
		.banner__desc-title {
			padding: 0 26px;
		}
	}
}

.banner__img {
	height: 100%;
}

.banner__desc {
	width: 240px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;

	@include phones {
		width: 140px;
	}
}

.banner__desc-title {
	font-size: rem(28px);

	@include phones {
		font-size: 16px;
	}
}

.banner__desc-text {
	position: relative;
	margin-top: 42px;
	font-size: 14px;

	&:after {
		content: "";
		position: absolute;
		top: -22px;
		left: 0;
		right: 0;
		margin: auto;
		width: 125px;
		height: 1px;
		background: #fff;
	}

	@include phones {
		margin-top: 30px;
		font-size: 10px;

		&:after {
			width: 75px;
			top: -15px;
		}
	}
}

.banner__desc-link {
	display: inline-block;
	margin-top: 22px;
	padding: 10px 28px;
	font-size: rem(14px);
	color: $blue;
	background: #fff;
	@include border-radius(20px);

	@include phones {
	    margin-top: 15px;
   		padding: 8px 14px 6px;
	    font-size: 8px;
	}
}

.banner__price {
	color: #fff;
}

.banner__price--first {
	position: absolute;
	top: 135px;
    left: 245px;

    @include phones {
    	top: 63px;
    	left: 35%;
    }
}

.banner__price--second {
	position: absolute;
	bottom: 115px;
    left: 7px;

    @include phones {
    	bottom: 53px;
    	left: 7px;
    }
}

.banner__price--third {
	position: absolute;
	left: 216px;
    bottom: 40px;
    color: $black;

    @include phones {
    	left: 29%;
    	bottom: 20px;
    }
}

.banner__price-name {
	font-size: rem(14px);

	@include phones {
    	font-size: 10px;
    }
}

.banner__price-value {
	font-size: rem(24px);

	@include phones {
    	font-size: 14px;
    }
}