.loyalty {
	text-align: center;
}

.loyalty__banner-first {
	background: url(../img/ban/banner-loyalty.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.loyalty__banner-sale {
	background: url(../img/ban/banner-loyalty-sale.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.loyalty__sale {
	text-align: center;
	background: url(../img/about/banner-sale.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.loyalty__title {
	width: 630px;
	margin: auto;
}