.order {
	@extend %clearfix;
}

.order__left {
	float: left;
	width: 65%;
	padding: 25px 45px;
	background: #f0f0f0;

	@include tablets {
		float: none;
		width: 100%;
	}

	@include phones {
		padding: 25px 20px;
	}
}

.order__right {
	float: left;
	width: 35%;
	padding: 0 36px 0 54px;

	@include tablets {
		float: none;
		width: 100%;
		padding: 36px 0 0 0;
	}

	@include phones {

	}
}

.order__item {
	margin: 0 0 24px 0;
}

.order__item-title {
	position: relative;
	display: inline-block;
	margin-bottom: 16px;
	text-transform: uppercase;
	font-size: rem(18px);
	color: $black;
	font-family: 'Robotomedium';
}

.order__item-title__link {
	position: absolute;
	top: -4px;
	right: -22px;
	width: 16px;
	height: 16px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		border: 1px solid $pink;
		@include border-radius(50%);
	}

	&:after {
		content: "?";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 12px;
		color: $pink;
	}
}

.order-country {
	position: relative;
    margin: 0 0 28px 0;

    @include phones {
    	margin: 0 0 14px 0;
    } 
}

.order-country__value {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	font-size: rem(14px);
	border: 1px solid $grey-line;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 20px;
		width: 10px;
		height: 6px;
		background: url(../img/decor/select-arrow.png)no-repeat;
		@include transform(translateY(-50%));
	}
}

.order-country__select {
	width: 100%;
	padding: 12px;
	background: inherit;
	border: none;
	opacity: 0;
}

.order__comment {
	margin: 28px 0 0 0;

	@include phones {
		margin: 14px 0 0 0;
	}
}

.order-city {
	margin: 0 0 28px 0;
	@extend %clearfix;
}

.order-city__left {
	float: left;
	width: 68%;
	padding: 0 14px 0 0;
}

.order-city__right {
	float: right;
	width: 32%;
	padding: 0 0 0 14px;
}

.order__input {
	background: inherit;
}

.order__textarea {
	height: 80px;
	background: inherit;
}

.order-tabs {
	margin: 0 0 28px 0;
}

.order-tabs__list {
	margin: 0 -14px;
	font-size: 0;
}

.order-tabs__item {
	@include inline-block(top);
	width: 33.3%;
	padding: 0 14px;
	font-size: rem(16px);

	&.active {
		
		.order-tabs__link {
			color: #fff;
			background: $blue;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 23px;
				height: 23px;
				border: 1px solid #fff;
				background: url(../img/decor/cheked.png)no-repeat center;
				background-color: $blue;
				@include border-radius(50%);
				@include transform(translate(50%, -50%));
			}
		}
	}

	@include tablets {
		padding: 0 8px;
	}
}

.order-tabs__link {
	position: relative;
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: rem(14px);
	color: $blue;
	border: 1px solid $blue;

	// &.active {
	// 	color: #fff;
	// 	background: $blue;

	// 	&:after {
	// 		content: "";
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 		width: 23px;
	// 		height: 23px;
	// 		border: 1px solid #fff;
	// 		background: url(../img/decor/cheked.png)no-repeat center;
	// 		background-color: $blue;
	// 		@include border-radius(50%);
	// 		@include transform(translate(50%, -50%));
	// 	}
	// }
}

.order-tabs__big-text {
	text-transform: uppercase;
}

.order-tabs__small-text {
	text-transform: lowercase;
}

.order-content__item {
	display: none;

	&.active {
		display: block;
	}
}

.order-get__list {
	margin: 0 -14px 26px;
	font-size: 0;
}

.order-get__item {
	@include inline-block(top);
	width: 33.3%;
	padding: 0 14px;
	font-size: rem(14px);
	overflow: hidden;
}

.order-get__checkbox {
	position: relative;
	cursor: pointer;
}

.order-get__checkbox-title {
	margin: 0 0 0 17px;
}

.order-get__checkbox__big-text {
	text-transform: uppercase;
}

.order-get__checkbox__small-text {
	text-transform: lowercase;
}

.order-get__checkbox-fake {
	position: absolute;
	top: 3px;
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid $black;
	@include border-radius(50%);
}

.checkbox__input:checked + .order-get__checkbox-fake {
	
	background: #fff;
	border: 4px solid $blue;
}

.order-get__options-title {
	margin-bottom: 1px;
	padding: 10px 14px;
	background: #fff;
	overflow: hidden;

	span {
		text-transform: uppercase;
		font-size: rem(14px);
	}

	.checkbox__input {
		left: -9999px;
	}
}

.order-get__options-checkbox {
	margin: 0 0 0 50px;
}

.order-get__options-desc {
	padding: 10px 14px;
	background: #fff;
}

.order-info__checkbox-text,
.order-get__options-desc {
	font-size: rem(12px);
}

.order__item-desc {
	margin: 0 0 18px 0;
	font-size: rem(14px);
}

.order__item-desc__link {
	margin-left: 4px;
	color: $blue;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.order-data {
	@extend %clearfix;
}

.order-data__left {
	float: left;
	width: 42%;
	padding: 0 14px 0 0;

	@include tablets {
		padding: 0 8px 0 0;
	}

	@include phones {
		float: none;
		width: 100%;
		margin: 0 0 14px 0;
		padding: 0;
	}
}

.order-data__right {
	float: right;
	width: 58%;
	padding: 0 0 0 14px;
	font-size: 0;
	@extend %clearfix;

	.order__label {
		width: 50%;

		&:first-child {
			float: left;
			padding-right: 14px;
		}

		&:last-child {
			float: right;
			padding-left: 14px;
		}
	}

	@include tablets {
		padding: 0 0 0 8px;

		.order__label {
			width: 50%;

			&:first-child {
				float: left;
				padding-right: 8px;
			}

			&:last-child {
				float: right;
				padding-left: 8px;
			}
		}
	}

	@include phones {
		float: none;
		width: 100%;
		padding: 0;
	}
}

.order-pay__list {
	margin: -14px;
	font-size: 0;
}

.order-pay__item {
	@include inline-block(top);
	width: 33.3%;
	padding: 14px;
	font-size: rem(16px);
	overflow: hidden;

	@include tablets {
		padding: 8px;
	}
}

.order-pay__checkbox {
	position: relative;
}

.order-pay__checkbox-fake {
	position: relative;
	height: 60px;
	text-align: center;
	border: 1px solid $blue;
	cursor: pointer;

	&:before {
		content: "";
		@include inline-block(middle);
		height: 100%;
	}
}

.checkbox__input:checked + .order-pay__checkbox-fake {

	// &::before {
	//     display: block;
	// }
	background: $blue;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 23px;
		height: 23px;
		border: 1px solid #fff;
		background: url(../img/decor/cheked.png)no-repeat center;
		background-color: $blue;
		@include border-radius(50%);
		@include transform(translate(50%, -50%));
	}

	.order-pay__checkbox-text {
		color: #fff;
	}
}

.order-pay__checkbox-text {
	@include inline-block(middle);
	text-transform: uppercase;
	font-size: rem(14px);
	color: $blue;
}

.order-info {
	margin: 0 0 28px 0;
	overflow: hidden;
}

.order-info__checkbox {
	position: relative;
	cursor: pointer;
}

.order-info__checkbox-fake {
	position: relative;
	@include inline-block(middle);
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid $blue;

	&::before {
		content: "";
	    display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 10px;
	    height: 10px;
	    background: url(../img/decor/cheked.png)no-repeat;
	}
}

.checkbox__input:checked + .order-info__checkbox-fake {
	background: $blue;

	&:before {
	    display: block;
	}
}

.order-info__checkbox-text {
	@include inline-block(middle);
	font-size: rem(12px);
}

.order__desc {
	margin: 28px 0 0 0;
	font-size: rem(12px);
}

.order__basket-list {
	height: 330px;
    margin-right: -33px;
    overflow: auto;
}

.order__basket-item {
    margin-right: 29px;
    padding: 1.375rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccccce;
	@extend %clearfix;
}

.order__basket-left {
	float: left;
	width: 70%;

	@include tablets {

	}
}

.order__basket-right {
	float: right;
	width: 29%;

	@include tablets {
		
	}
}

.order__basket-img_pic {
	max-width: 100%;
}


// .order {
// 	padding: 0 0 50px 0;
// }


// .order__list {
// 	margin: 0 -46px;
// 	font-size: 0;
// }

// .order__item {
// 	@include inline-block(top);
// 	width: 33.3%;
// 	padding: 0 46px;
// 	font-size: 16px;
// }

// .order__label {
// 	margin-bottom: 20px;

// 	&:last-child {
// 		margin-bottom: 0;
// 	}	
// }

// .order__label--width-half {
// 	font-size: 0;
// 	@extend %clearfix;

// 	.input {
// 		@include inline-block(top);
// 		width: 49%;

// 		&:first-child {
// 			float: left;
// 		}

// 		&:last-child {
// 			float: right;
// 		}
// 	}
// }

// .order-form__content {
// 	margin-bottom: 10px;
// 	padding-left: 24px;
// 	overflow: hidden;
// }

// .order-form__checkbox {
// 	position: relative;
// 	display: block;
// 	margin-bottom: 8px;
// }

// .order-form__checkbox-title {
// 	text-transform: uppercase;
// 	font-size: 14px;
// }

// .order-form__checkbox-fake {
// 	position: absolute;
// 	top: 3px;
// 	left: -24px;
// 	width: 14px;
// 	height: 14px;
// 	border: 1px solid $black;
// 	@include border-radius(50%);
// }

// .order-form__desc {
// 	width: 65%;
// 	margin-bottom: 4px;
// 	font-size: 12px;

// 	span {
// 		text-transform: uppercase;
// 	}
// }

// .order-form__link {
// 	font-size: 12px;
// 	color: $blue;
// }