.order {
	@extend %clearfix;

	@include phones {
		margin: 0 -15px;
	}
}

.order__left {
	float: left;
	width: 65%;
	padding: 25px 45px;
	background: #f0f0f0;

	@include top {
		padding: 25px 35px;
	}

	@include laptop {
		padding: 25px 25px;
	}

	@include tablets {
		float: none;
		width: 100%;
	}

	@include phones {
		padding: 25px 20px;
	}
}

.order__right {
	float: left;
	width: 35%;
	padding: 0 36px 0 54px;

	@include top {
		padding: 0 36px 0 35px;

		.panel__basket-price_discount,
		.panel__basket-price_value {
			font-size: 14px;
		}
	}

	@include desktop {
		.panel__basket-price_discount,
		.panel__basket-price_value {
			font-size: 13px;
		}
	}

	@include laptop {
		padding: 0 36px 0 36px;
	}

	@include tablets {
		float: none;
		width: 100%;
		padding: 36px 0 36px 0;
	}

	@include phones {
		padding: 25px 20px;
	}
}

.order__item {
	position: relative;
	margin: 0 0 24px 0;
}

.order__item-title {
	position: relative;
	display: inline-block;
	margin-bottom: 16px;
	padding-right: 22px;
	text-transform: uppercase;
	font-size: rem(18px);
	color: $black;
	font-family: 'Robotomedium';
}

.order__item-title__link {
	display: block;
	position: absolute;
	top: -4px;
	right: 0px;
	width: 16px;
	height: 16px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 16px;
		height: 16px;
		border: 1px solid $pink;
		@include border-radius(50%);
	}

	&:after {
		content: "?";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 12px;
		color: $pink;
	}
}

.order__item-title__link-popup {
	display: none;
	position: absolute;
	bottom: 100%;
	left: 4px;
	right: 0;
	width: 600px;
	margin-bottom: 14px;
	padding: 15px;
	@include transform(translateX(-50%));
	text-transform: none;
	font-size: 16px;
	font-family: 'Robotolight';
	color: $black;
	background: #fff;
	border: 1px solid $blue;

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 100%;
		margin-top: -5px;
		width: 10px;
		height: 10px;
		background: #fff;
		border-left: 1px solid $blue;
		border-top: 1px solid $blue;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		@include transform(rotate(-135deg));
	}

	&.show {
		display: block;
	}

	@include top {
		font-size: 15px; 
	}

	@include laptop {
		font-size: 14px;
	}

	@include tablets {
		width: 480px;
	}

	@include bigphone {
		width: 420px;
		@include transform(translateX(-64%));

		&:after {
			left: 64%;
		}
	}

	@include phones {
		width: 290px;
		@include transform(translateX(-95%));
		font-size: 12px;

		&:after {
			left: 90%;
		}
	}
}

// .order__item-popup {
// 	// display: none;
// 	position: absolute;
// 	bottom: 100%;
// 	left: 0;
// 	right: 0;
// 	margin-bottom: 10px;
// 	padding: 15px;
// 	text-transform: none;
// 	font-size: 16px;
// 	font-family: 'Robotolight';
// 	background: #fff;
// 	border: 1px solid $blue;
// }

.order-country {
	position: relative;
    margin: 0 0 28px 0;
    @extend %clearfix;

    @include phones {
    	margin: 0 0 26px 0;
    } 
}

.order-country-left {
	position: relative;
	float: left;
	width: 66%;
	padding-right: 14px;

	@include top {
		padding-right: 8px;
	}

	@include laptop {
		padding-right: 6px;
	}
}

.order-country-right {
	float: right;
	width: 34%;
	padding-left: 14px;

	@include top {
		padding-left: 8px;
	}

	@include laptop {
		padding-left: 6px;
	}
}

.order-country__value {
	position: absolute;
	top: 0;
	left: 0;
	right: 14px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid $grey-line;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 20px;
		width: 10px;
		height: 6px;
		background: url(../img/decor/select-arrow.png)no-repeat;
		@include transform(translateY(-50%));
	}

	@include top {
		right: 8px;
	}

	@include top {
		right: 6px;
	}
}

.order-country__select {
	width: 100%;
	padding: 12px 0 13px;
	background: inherit;
	border: none;
	opacity: 0;
}

.order__comment {
	position: relative;
	margin: 28px 0 0 0;

	@include phones {
		margin: 26px 0 0 0;
	}
}

.order-city {
	margin: 0 0 28px 0;
	@extend %clearfix;
}

.order-city__left {
	float: left;
	width: 68%;
	padding: 0 14px 0 0;
}

.order-city__right {
	float: right;
	width: 32%;
	padding: 0 0 0 14px;
}

.order__input {
	background: inherit;
}

.order__textarea {
	height: 80px;
	background: inherit;
}

.order-tabs {
	margin: 0 0 28px 0;
}

.order-tabs__list {
	margin: 0 -14px;
	font-size: 0;

	@include top {
		margin: 0 -8px;
	}

	@include laptop {
		margin: 0 -6px;
	}
}

.order-tabs__item {
	@include inline-block(top);
	width: 33.3%;
	padding: 0 14px;
	text-align: center;
	font-size: rem(16px);

	&.active {

		.order-tabs__wrapp {
			position: relative;
			background: $blue;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 23px;
				height: 23px;
				border: 1px solid #fff;
				background: url(../img/decor/cheked.png)no-repeat center;
				background-color: $blue;
				@include border-radius(50%);
				@include transform(translate(50%, -50%));
			}
		}

		.order-tabs__link {
			color: #fff;
		}
	}

	@include top {
		padding: 0 8px;

		&.active {
		
			.order-tabs__wrapp {

				&:after {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	@include laptop {
		padding: 0 6px;

		&.active {
		
			.order-tabs__wrapp {

				&:after {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
}

.order-tabs__wrapp {
	height: 70px;
    padding: 0 6px;
	border: 1px solid $blue;

	&:before {
	    content: "";
	    display: inline-block;
	    vertical-align: middle;
	    height: 100%;
	}

	@include laptop {
		height: 60px;
	}
}

.order-tabs__link {
	position: relative;
	@include inline-block(middle);
	// padding: 10px 0;
	text-align: center;
	font-size: rem(14px);
	color: $blue;

	@include laptop {
		font-size: 11px;
	}

	@include phones {
		font-size: 10px;
	}
}

.order-tabs__big-text {
	text-transform: uppercase;
}

.order-tabs__small-text {
	text-transform: lowercase;
}

.order-content__item {
	display: none;

	&.active {
		display: block;
	}
}

.order-get__list {
	margin: 0 -14px 26px;
	font-size: 0;

	@include top {
		margin: 0 -8px 26px;
	}


	@include laptop {
		margin: 0 -6px 26px;
	}

	@include phones {
		margin: 0 -8 26px;
	}
}

.order-get__item {
	@include inline-block(top);
	width: 33.3%;
	padding: 0 14px;
	font-size: rem(14px);
	overflow: hidden;

	@include top {
		padding: 0 8px;
	}


	@include laptop {
		padding: 0 6px;
	}

	@include phones {
		padding: 0 8px;
		font-size: 10px;
	}
}

.order-get__checkbox {
	position: relative;
	cursor: pointer;
}

.order-get__checkbox-title {
	margin: 0 0 0 17px;

	@include laptop {
		font-size: 11px;
	}
}

.order-get__checkbox__big-text {
	text-transform: uppercase;
}

.order-get__checkbox__small-text {
	text-transform: lowercase;
}

.order-get__checkbox-fake {
	position: absolute;
	top: 3px;
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid $black;
	@include border-radius(50%);
}

.checkbox__input:checked + .order-get__checkbox-fake {
	
	background: #fff;
	border: 4px solid $blue;
}

.order-get__options-title {
	margin-bottom: 1px;
	padding: 10px 14px;
	background: #fff;
	overflow: hidden;

	span {
		text-transform: uppercase;
		font-size: rem(14px);
	}

	.checkbox__input {
		left: -9999px;
	}

	@include laptop {
		span {
			display: block;
			margin-bottom: 4px;
			font-size: 11px;
		}
	}

	@include phones {

		span {
			display: block;
		}
	}
}

.order-get__options-checkbox {
	margin: 0 0 0 50px;

	@include top {
		margin: 0 0 0 30px;
	}

	@include laptop {
		margin: 0;
	}

	@include phones {
		margin: 0;
	} 
}

.order-get__options-desc {
	padding: 10px 14px;
	background: #fff;
}

.order-info__checkbox-text,
.order-get__options-desc {
	font-size: rem(12px);
}

.order__item-desc {
	margin: 0 0 26px 0;
	font-size: rem(14px);
}

.order__item-desc__link {
	margin-left: 4px;
	color: $blue;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.order-data {
	@extend %clearfix;
}

.order-data--full {

}

.order-data__left {
	float: left;
	width: 66%;
	padding: 0 14px 0 0;

	@include top {
		padding: 0 8px 0 0;
	}

	@include laptop {
		padding: 0 6px 0 0;
	}

	@include phones {
		float: none;
		width: 100%;
		margin: 0 0 26px 0;
		padding: 0;
	}
}

.order-data__right {
	float: right;
	width: 34%;
	padding: 0 0 0 14px;
	font-size: 0;
	@extend %clearfix;

	.order__label {
		width: 100%;

		// &:first-child {
		// 	float: left;
		// 	padding-right: 14px;
		// }

		// &:last-child {
		// 	float: right;
		// 	padding-left: 14px;
		// }
	}

	@include top {
		padding: 0 0 0 8px;

		.order__label {
			// width: 50%;

			// &:first-child {
			// 	float: left;
			// 	padding-right: 8px;
			// }

			// &:last-child {
			// 	float: right;
			// 	padding-left: 8px;
			// }
		}
	}

	@include laptop {
		padding: 0 0 0 6px;

		// .order__label {
		// 	width: 50%;

		// 	&:first-child {
		// 		float: left;
		// 		padding-right: 6px;
		// 	}

		// 	&:last-child {
		// 		float: right;
		// 		padding-left: 6px;
		// 	}
		// }
	}

	@include phones {
		float: none;
		width: 100%;
		padding: 0;
	}
}

.order-name {
	@extend %clearfix;
}

.order-name__left {
	float: left;
	width: 42%;
    padding: 0 14px 0 0;

    @include phones {
    	width: 100%;
    	margin-bottom: 26px;
    	padding: 0;
    }
}

.order-name__right {
	float: right;
	width: 58%;
    padding: 0 0 0 14px;
    font-size: 0;
    @extend %clearfix;

    .order__label {
		width: 50%;

		&:first-child {
			float: left;
			padding-right: 14px;

			&:before {
				right: 24px!important;
			}
		}

		&:last-child {
			float: right;
			padding-left: 14px;
		}
	}

	@include top {
		padding: 0 0 0 8px;

		.order__label {

			&:first-child {
				float: left;
				padding-right: 8px;
			}

			&:last-child {
				float: right;
				padding-left: 8px;
			}
		}
	}

	@include laptop {
		padding: 0 0 0 6px;

		.order__label {

			&:first-child {
				float: left;
				padding-right: 6px;
			}

			&:last-child {
				float: right;
				padding-left: 6px;
			}
		}
	}

	@include phones {
		float: none;
		width: 100%;
		padding: 0;
	}
}

.order__label {
	position: relative;

	&.validation {

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			@include transform(translateY(-50%));
			width: 22px;
			height: 22px;
			background: url(../img/icons/valid.png) no-repeat;
			background-size: contain;
		}

		.order__input {
			border: 1px solid $blue;
		}
	}

	&.no-validation {

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			@include transform(translateY(-50%));
			width: 22px;
			height: 22px;
			background: url(../img/icons/no-valid.png) no-repeat;
			background-size: contain;
		}

		.order__input {
			border: 1px solid $pink;
		}
	}
}

.validation-text {
	position: absolute;
	top: 100%;
	font-size: 12px;
	color: $pink;
}

.order-pay__list {
	margin: 0 -14px;
	font-size: 0;

	@include top {
		margin: 0 -8px;
	}

	@include laptop {
		margin: 0 -6px;
	}
}

.order-pay__item {
	@include inline-block(top);
	width: 33.3%;
	padding: 14px;
	font-size: rem(16px);
	overflow: hidden;

	@include top {
		padding: 8px;
	}

	@include laptop {
		padding: 6px;
	}

	@include phones {
		width: 50%;
	}
}

.order-pay__checkbox {
	position: relative;
}

.order-pay__checkbox-fake {
	position: relative;
	height: 70px;
	text-align: center;
	border: 1px solid $blue;
	cursor: pointer;

	&:before {
		content: "";
		@include inline-block(middle);
		height: 100%;
	}

	@include laptop {
		height: 60px;
	}
}

.checkbox__input:checked + .order-pay__checkbox-fake {

	// &::before {
	//     display: block;
	// }
	background: $blue;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 23px;
		height: 23px;
		border: 1px solid #fff;
		background: url(../img/decor/cheked.png)no-repeat center;
		background-color: $blue;
		@include border-radius(50%);
		@include transform(translate(50%, -50%));

		@include top {
			top: 2px;
			right: 2px;
			width: 20px;
			height: 20px;
		}

		@include laptop {
			width: 16px;
			height: 16px;
		}
	}

	.order-pay__checkbox-text {
		color: #fff;
	}
}

.order-pay__checkbox-text {
	@include inline-block(middle);
	text-transform: uppercase;
	font-size: rem(14px);
	color: $blue;

	@include laptop {
		font-size: 10px;
	}

	@include phones {
		font-size: 10px;
	}
}

.order-info {
	margin: 0 0 28px 0;
	overflow: hidden;

	@include laptop {
		margin: 0 0 14px 0;
	}
}

.order-info__checkbox {
	position: relative;
	cursor: pointer;
}

.order-info__checkbox-fake {
	position: relative;
	@include inline-block(top);
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid $blue;

	&::before {
		content: "";
	    display: none;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 10px;
	    height: 10px;
	    background: url(../img/decor/cheked.png)no-repeat;
	}
}

.checkbox__input:checked + .order-info__checkbox-fake {
	background: $blue;

	&:before {
	    display: block;
	}
}

.order-info__checkbox-text {
	@include inline-block(top);
	font-size: rem(12px);

	@include laptop {
		width: calc(100% - 20px);
	}
}

.order__desc {
	margin: 28px 0 0 0;
	font-size: rem(12px);

	@include laptop {
		margin: 14px 0 0 0;
	}
}

.order__basket-list {
	height: 330px;
    margin-right: -33px;
    overflow: auto;
}

.order__basket-item {
    margin-right: 29px;
    padding: 1.375rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid #ccccce;
	@extend %clearfix;
}

.order__basket-left {
	float: left;
	width: 70%;

	@include tablets {

	}
}

.order__basket-right {
	float: right;
	width: 29%;

	@include tablets {
		
	}
}

.order__basket-img_pic {
	max-width: 100%;
}

.form__basket--order {
	font-size: 16px;

	.form__btn {
		font-size: 12px;
	}

	.form__btns--order {
		margin-bottom: 0;
	}

	.basket-sale,
	.basket-total,
	.basket-coupon,
	.basket-order,
	.basket-pay {
		margin-bottom: 16px;
	}

	@include top {
		font-size: 14px;

		.form__basket-sale_input {
			height: 36px;
		}

		.form__btn {
			font-size: 10px;
		}

		.panel__basket-price_discount {
			margin-right: 6px;
		}
	}

	@include desktop {
		font-size: 13px;

		.basket-sale,
		.basket-total,
		.basket-coupon,
		.basket-order,
		.basket-pay {
			margin-bottom: 14px;
		}
	}

	@include laptop {
		.form__basket-sale_input {
			float: none;
			width: 100%;
			margin-bottom: 14px;
		}

		.form__basket-sale_btn {
			float: none;
			width: 100%;
		}

		.form__btn {
			font-size: 12px;
		}
	}

	@include tablets {
		.form__basket-sale_input {
			float: left;
			width: 43%;
			margin-bottom: 0;
		}

		.form__basket-sale_btn {
			float: right;
			width: 54%;
			margin-top: 0;
		}

		.form__basket-total {
			margin-top: 14px;
		}
	}

	@include phones {
		.basket-sale,
		.basket-total,
		.basket-coupon,
		.basket-order,
		.basket-pay {
			margin-bottom: 12px;
		}
	}
}

// .basket-sale__text--order,
// .basket-coupon__text--order,
// .basket-total__text--order,
// .basket-order__text--order,
// .basket-pay__text--order {

// }


// .order {
// 	padding: 0 0 50px 0;
// }


// .order__list {
// 	margin: 0 -46px;
// 	font-size: 0;
// }

// .order__item {
// 	@include inline-block(top);
// 	width: 33.3%;
// 	padding: 0 46px;
// 	font-size: 16px;
// }

// .order__label {
// 	margin-bottom: 20px;

// 	&:last-child {
// 		margin-bottom: 0;
// 	}	
// }

// .order__label--width-half {
// 	font-size: 0;
// 	@extend %clearfix;

// 	.input {
// 		@include inline-block(top);
// 		width: 49%;

// 		&:first-child {
// 			float: left;
// 		}

// 		&:last-child {
// 			float: right;
// 		}
// 	}
// }

// .order-form__content {
// 	margin-bottom: 10px;
// 	padding-left: 24px;
// 	overflow: hidden;
// }

// .order-form__checkbox {
// 	position: relative;
// 	display: block;
// 	margin-bottom: 8px;
// }

// .order-form__checkbox-title {
// 	text-transform: uppercase;
// 	font-size: 14px;
// }

// .order-form__checkbox-fake {
// 	position: absolute;
// 	top: 3px;
// 	left: -24px;
// 	width: 14px;
// 	height: 14px;
// 	border: 1px solid $black;
// 	@include border-radius(50%);
// }

// .order-form__desc {
// 	width: 65%;
// 	margin-bottom: 4px;
// 	font-size: 12px;

// 	span {
// 		text-transform: uppercase;
// 	}
// }

// .order-form__link {
// 	font-size: 12px;
// 	color: $blue;
// }