.panel-basket {
	position: absolute;
    right: -9999px;
    min-height: 662px;

    @include tablets {
    	overflow: auto;
    }
}

.panel-basket.open {
	position: fixed;
	top: 0;
    right: 0;
}

.panel__basket-list {
	height: 330px;
	margin-right: -33px;
    overflow: auto;

    @include phones {
    	// height: 284px;
    	margin-right: -8px;
    }
}

.panel__basket-item {
	margin-right: 29px;
	padding: rem(22px) 0;
	padding: rem(16px) 0;
	// border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid $grey-line;
	@extend %clearfix;

	&:first-child {
		// border: none;
	}

	@include phones {
		margin-right: 27px;
		margin-right: 8px;
	}
}

.panel__basket-left {
	float: left;
	width: 71%;
	padding-right: rem(30px);

	@include phones {
		width: 61%;
		// padding: 0 rem(10px) 0 0;
	}
}

.panel__basket-right{ 
	float: right;
	width: 29%;

	@include phones {
		width: 39%;
	}
}

.panel__basket-model {
	margin-bottom: 6px;
	font-size: rem(16px);
}

.panel__basket-size {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: rem(13px);
}

.panel__basket-switch {
	margin: 0 0 14px -8px;
	font-size: 0;
}

.panel__basket-switch_min,
.panel__basket-switch_max,
.panel__basket-switch_input {
	@include inline-block(middle);
	font-size: rem(16px);
	font-family: 'Robotoregular';
}

.panel__basket-switch_min {
	padding: 4px 8px;
	color: $pink;
}

.panel__basket-switch_max {
	padding: 4px 8px;
 	color: $blue;
}

.panel__basket-switch_input {
	width: 50px;
	height: 30px;
    text-align: center;
    border: 1px solid $grey-line;
}

.panel__basket-img {
	width: 100px;
	height: 130px;
	// background-color: #dfdfdf;

	@include phones {
		// width: auto;
	}
}

.panel__basket-img_pic {
	max-width: 100%;
}

.panel__basket-price {
	font-family: 'Robotoregular';
}

.panel__basket-price_discount {
	margin-right: 14px;
	text-decoration: line-through;
	color: $grey;
}

.panel__basket-price_value,
.basket-coupon__value,
.panel__basket-price_value,
.basket-order__value,
.basket-pay__value {
	font-family: 'Robotomedium';
}

.form__basket {
	margin-top: rem(16px);
}

.form__basket-sale {
	// margin-top: rem(16px);
	@extend %clearfix;
}

.form__basket-sale_input {
	float: left;
	width: 43%;
	height: 40px;
	background-color: inherit;
    border: 1px solid #ccccce;

    @include phones {
    	float: none;
    	width: 100%;
    }
}

.form__basket-sale_btn {
	float: right;
	width: 54%;

	@include phones {
    	float: none;
    	width: 100%;
    	margin-top: rem(16px);
    }
}

.basket-sale,
.basket-total,
.basket-coupon,
.basket-order {
	@extend %clearfix;
	margin-bottom: 6px;
}

// .basket-sale,
// .basket-coupon,
// .basket-order,
// .basket-pay {
// 	margin-bottom: 6px;
// }

.basket-sale__text {
	float: left;
	// font-size: rem(16px);
}

.basket-sale__value {
	float: right;
	font-weight: bold;
	// font-size: rem(18px);
}

.form__basket-total {
	margin: 16px 0;

	@include phones {
		margin-top: 30px;
	}
}

.basket-total__text, 
.basket-coupon__text,
.basket-order__text,
.basket-pay__text {
	float: left;
}

.basket-total__value,
.basket-coupon__value,
.basket-order__value,
.basket-pay__value {
	float: right;
}