.pay__banner {
	position: relative;
	width: 100%;
	height: 400px;
	background: url(../img/pay/banner-pay.jpg) 50% 50%;
	background-size: cover;

	@include tablets {
		height: 250px;
	}

	@include phones {
		height: 180px;
	}
}

.pay__banner-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 400px;
	text-align: center;
	background: rgba(0, 0, 0, .3);

	@include tablets {
		line-height: 250px;
	}

	@include phones {
		line-height: 180px;
	}
}

.pay__banner-title {
	text-transform: uppercase;
	font-size: 28px;
	color: #fff;
}

.pay__section {
	padding: 80px 0;
	text-align: center;

	@include tablets {
		padding: 40px 0;
	}

	@include phones {
		padding: 20px 0;

		.pay__shipping-img {
			height: 50px;
			margin-bottom: 10px;
    		padding: 0 26px;
		}
	}
}

.pay__section--msk {
	padding: 80px 120px;

	@include tablets {
		padding: 40px 0;
	}

	@include phones {
		padding: 20px 0;

		.pay__shipping-img {
			height: 50px;
			margin-bottom: 10px;
    		padding: 0 26px;
		}
	}
}

.pay__section--region {
	padding: 80px 50px;
	background: #f5f5f5;

	.pay__shipping-img {
		height: 66px;
	}

	@include desktop {
		padding: 80px 30px;
	}

	@include laptop {
		padding: 80px 30px 0 30px;
	}

	@include tablets {
		padding: 40px 0;
	}

	@include phones {
		padding: 20px 0;

		.pay__shipping-desc {
			width: 274px;
			margin: auto;
			font-size: 16px;
		}
	}
}

.pay__section--bg {
	text-align: center;
	background: #f5f5f5;
}

.pay__shipping-title  {
	margin-bottom: 65px;
	text-transform: uppercase;
	font-size: 28px;

	@include phones {
		margin-bottom: 20px;
		font-size: 16px;
	}
}

.pay__shipping-list {
	font-size: 0;
}

.pay__shipping-item {
	@include inline-block(top);
	width: 33.3%;
	font-size: 16px;
}

.pay__shipping-item--region {
	position: relative;
	@include inline-block(top);
	width: 20%;
	padding: 0 10px;
	font-size: 16px;

	@include laptop {
		width: 33.3%;
		margin-bottom: 80px;
	}

	@include tablets {
		width: 33.3%;
		margin-bottom: 26px;
	}

	@include phones {
		width: 100%;
		margin-bottom: 16px;
	}
}

.pay__shipping-img {
	margin-bottom: 22px;
}

.pay__shipping-pic {
	max-width: 100%;
}

.pay__shipping-desc {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Robotomedium';

	@include phones {
		font-size: 10px;
	}
}

.pay__shipping-link {
	font-size: 14px;
	color: $blue;
}

.pay__shipping-popup {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 500px;
	margin-top: 10px;
	margin-left: -142px;
	padding: 15px 15px;
	font-size: 16px;
	background: #fff;
	border: 1px solid $blue;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 100%;
		margin-bottom: -5px;
		width: 10px;
		height: 10px;
		background: #fff;
		border-left: 1px solid $blue;
		border-top: 1px solid $blue;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		@include transform(rotate(45deg));
	}
}

.pay__return-list {
	font-size: 0;
}

.pay__return-item {
	@include inline-block(top);
	width: 50%;
	padding: 0 97px 0 125px;
	padding: 0 7% 0 10%;
	text-align: left;
	font-size: 16px;

	@include tablets {
		padding: 0 40px 0 40px;
	}

	@include phones {
		width: 100%;
		padding: 0 0 0 0;
	}
}

// .pay__return-img {
// 	margin-bottom: 18px;
// }

.pay__return-title {
	margin-bottom: 14px;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Robotomedium';

	@include phones {
		text-align: center;
	}
}

.pay__return {

	p {
		margin-bottom: 20px;
	}

	a {
		text-decoration: underline;
		color: $blue;

		&:hover {
			text-decoration: none;
		}
	}
}

.pay__return-img {
	width: 100px;
	margin: 0 0 18px;

	@include phones {
		width: 70px;
		margin: 0 auto 18px;
	}
}

.pay__return-pic {
	width: 100%;
}

.pay__return-desc {
	width: 57%;
	margin: auto;

	@include tablets {
		width: 100%;
	}
	
	@include phones {
		text-align: left;
	}
}