.personal {
	@include phones {
		margin: 0 -15px;
	}
}

.personal__left {
	float: left;
	width: 65%;
	padding: 25px 45px;
	background: #f0f0f0;

	@include top {
		padding: 25px 35px;
	}

	@include laptop {
		float: none;
		width: 100%;
		padding: 25px 25px;
	}

	@include tablets {
		// float: none;
		// width: 100%;
	}

	@include phones {
		padding: 25px 20px;
	}
}

.personal__right {
	float: left;
	width: 35%;
	padding: 0 36px 0 54px;

	@include top {
		padding: 0 36px 0 35px;
	}

	@include laptop {
		float: none;
		width: 100%;
		padding: 45px 36px 45px 36px;
	}

	@include tablets {
		// float: none;
		// width: 100%;
		padding: 36px 0 0 0;
	}

	@include phones {
		padding: 25px 20px;
	}
}

.personal__title-wrapp {
	position: relative;
	@extend %clearfix;
}

.personal__title-vip {
	position: absolute;
	padding: 5px 10px;
	top: 0;
	right: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: $blue;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -10px;
		background: #fff;
		border-left: 12px solid #fff;
		border-right: 0 solid $blue;
		border-top: 16px solid $blue;
		border-bottom: 16px solid $blue;
	}
}

.personal__title {
	margin-bottom: 20px;
}

.personal__desc {
	font-size: 18px;

	@include phones {
		font-size: 16px;
	}
}

.personal__right-wrapp {
	margin-bottom: 20px;

	&:first-child {
		margin-bottom: 42px;
	}
}

.personal__tabs {
	position: relative;
}

.personal__tabs-view {
	position: relative;
	display: none;
	margin-bottom: 20px;
	padding: 10px 12px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Robotoregular';
	color: $black;
	background: #fff;
	cursor: pointer;
	transition: .3s;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 20px;
		width: 8px;
    	height: 18px;
    	margin-top: -8px;
		@include transform(rotate(-90deg));
		background: url(../img/decor/arrow.png)no-repeat;
		background-size: contain;

	}

	&:hover {
		@include box-shadow(0 1px 10px rgba(0,0,0, .25));
	}

	@include phones {
		padding: 10px 6px;

		&:after {
			right: 10px;
	    	height: 14px;
		}
	}
}

@media screen and (max-width: 1325px) {
  .personal__tabs-view {
    display: block;
  }
}

.personal__tabs-list {
	font-size: 0;
	background: #fff;

	&.open {
		display: block;
	}
}

@media screen and (max-width: 1325px) {
	.personal__tabs-list {
    	display: none;
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	@include box-shadow(0 1px 10px rgba(0,0,0, .25));

    	&.open {
    		display: block;
    	}
	}

	.personal__tabs-item {
		width: 100%!important;
		margin: 0!important;
		text-align: left!important;
		background: #fff!important;

		&.active {
			background: #f0f0f0!important;
			border: 1px solid #fff;
		}
	}

	.personal__tabs-link {
		padding: 10px 14px!important;

		&:hover {
			background: #f0f0f0!important;
			// border: 1px solid #fff;
		}
	}
}

.personal__tabs-item {
	@include inline-block(top);
	margin: 1px 0 1px 1px;
	text-align: center;
	font-size: 16px;
	background: #f0f0f0;

	&:last-child {
		margin: 1px;
		border-right: 1px solid #f0f0f0;
    	box-sizing: content-box;
	}

	&.active {
		background: #fff;

		&:last-child {
			border-right: none;
		}

		.personal__tabs-link {
			color: $black;
		}
	}
}

.personal__tabs-item--active {
	width: 16%;
}

.personal__tabs-item--all {
	width: 8%;
}

.personal__tabs-item--done {
	width: 18%;
}

.personal__tabs-item--cancel {
	width: 18%;
}

.personal__tabs-item--sale {
	width: 39%;

	@include phones {
		width: 38%;
	}
}

.personal__tabs-link {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Robotoregular';
	color: $blue;

	&.active {
		color: $black;
	}
}

.personal__tabs-list_select {
	position: absolute;
	top: 100%;
	left: 0;
}

.personal__tabs-item_select {
	background: #fff;
}

.personal__tabs-link_select {
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Robotoregular';
	color: $blue;

	&.active {
		color: $black;
	}

	&:hover {
		color: $black;
		background: #fff;
	}

	@include phones {
		font-size: 10px;
	}
}

.personal__content-item {
	display: none;

	&.active {
		display: block;
	}
}

.personal__order-item {
	margin-bottom: 20px;
	background: #fff;
	transition: .3s;

	&:hover {
		@include box-shadow(0 1px 10px rgba(0,0,0, .25));
	}
}

.personal__order-header {
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Robotoregular';
	border-bottom: 1px solid #f0f0f0;
	@extend %clearfix;
}

.personal__order-body {
	padding: 7px 0;
	font-size: 12px;
	@extend %clearfix;
}

.personal__order-order {
	float: left;
	width: 12%;
	padding: 10px 0 10px 12px;

	@include bigphone {
		width: 22%;
	}

	@include phones {
		padding: 10px 0 10px 6px;
	}
}

.personal__order-date {
	float: left;
	width: 14%;
	padding: 10px 0 10px 12px;

	@include bigphone {
		width: 23%;
	}

	@include phones {
		padding: 10px 0 10px 6px;
		width: 25%;
	}
}

.personal__order-payment {
	float: left;
	width: 19%;
	padding: 10px 0 10px 12px;

	@include bigphone {
		display: none;
	}

	@include phones {
		padding: 10px 0 10px 6px;
		width: 22%;
	}
}

.personal__order-shipping {
	float: left;
	width: 25%;
	padding: 10px 0 10px 12px;

	@include top {
		width: 21%;
	}

	@include bigphone {
		display: none;
	}

	@include phones {
		padding: 10px 0 10px 6px;
		width: 22%;
	}
}

.personal__order-amount {
	float: left;
	width: 12%;
	padding: 10px 0 10px 12px;

	@include bigphone {
		width: 25%;
	}

	@include phones {
		padding: 10px 0 10px 6px;
		width: 23%;
	}
}

.personal__order-status {
	float: right;
	width: 18%;
	padding: 10px 0 10px 12px;

	&.take {
		color: #45e9d0;
	}

	&.picked {
		color: #a63cf0;
	}

	&.cancel {
		color: #f19da3
	}

	&.sent {
		color: #42e85a;
	}

	&.buy {
		padding: 0 0 0 12px;
	}

	@include top {
		width: 22%; 
	}

	@include bigphone {
		width: 30%;
	}

	@include phones {
		padding: 10px 0 10px 6px;

		&.buy {
			padding: 3px 0 0 0;
		}

		&.picked {
			word-wrap: break-word;
		}
	}
}

.personal__order-status_buy {
	display: inline-block;
	margin-top: 3px;
	padding: 7px 11px;
	text-transform: uppercase;
	color: #fff;
	background: $blue;
	border: none;
	outline: none;
	@include border-radius(20px);
	cursor: pointer;

	@include phones {
		font-size: 10px;
	}
}

.personal__right-item {
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0;
	}	
}

.personal__right-link {
	display: inline-block;
	font-size: 18px;
	color: $blue;

	@include phones {
		font-size: 16px;
	}
}

.personal__status-item {
	@extend %clearfix;
}

.personal__status-left {
	float: left;
}

.personal__status-right {
	float: right;
	font-family: 'Robotomedium';
}

.personal__status-currency {
	margin-left: 6px;
	font-family: 'Robotolight';
}

.personal__order-block {
	cursor: pointer;
}

.personal__order-detail {
	@include box-shadow(0 1px 10px rgba(0,0,0, .25));
}

.personal-details {
	display: none;

	&.show {
		display: block;
	}
}

.personal-details__head {
	position: relative;
	padding: 10px 12px;
	text-transform: uppercase;
	font-family: 'Robotomedium';
	border-bottom: 1px solid $grey-line;
}

.personal-details__head-title {
	padding-right: 25px;
	font-size: 14px;
}

.personal-details__close {
	position: absolute;
	top: 50%;
	right: 12px;
	@include transform(translateY(-50%));
	width: 16px;
	height: 16px;
}

.personal-details__close-link {
	display: block;
	width: 16px;
	height: 16px;
	font-size: 0;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 9px;
		right: 0;
		width: 16px;
		height: 1px;
		background: $black;
	}

	&:before {
		@include transform(rotate(45deg));
	}

	&:after {
		@include transform(rotate(-45deg));
	}
}

.personal-details__content {
	padding: 0 12px;
}

.personal-details__section {
	padding: 10px 0;
	font-size: 14px;
	border-top: 1px solid $grey-line;
	@extend %clearfix;

	&:first-child {
		border-top: none;
	}

	@include phones {
		font-size: 12px;
	}
}

.personal-details__header {
	position: relative;
	padding: 4px 0 14px;
	text-transform: uppercase;
	font-family: 'Robotomedium';
	color: $grey;
	@extend %clearfix;

	// .personal-details__name {
	// 	width: 55%;
	// }

	// .personal-details__size {
	// 	width: 15%;
	// }

	.personal-details__price {
		width: 15%;
	}

	.personal-details__number {
		width: 15%;
		text-align: right;
	}

	@include phones {


		.personal-details__price {
			width: 15%;
		}

		.personal-details__number {
			width: 20%;
			text-align: right;
		}
	}
}

.personal-details__wrapp {
	padding: 10px 0;
	@extend %clearfix;
}

.personal-details__section-left,
.personal-details__section-right {
	float: left;
	width: 50%;
}

.personal-details__section-right {
	padding-left: 12px;
}

.personal-details__title,
.personal-details__status-key {
	text-transform: uppercase;
	font-family: 'Robotoregular';
}

.personal-details__title {
	margin-bottom: 6px;
}

.personal-details__desc {
	margin-bottom: 4px;
}

.personal-details__status-value {
	font-size: 12px;
	color: #45e9d0;
}

.personal-details__pay-status {
	font-size: 12px;
	color: #45e9d0;
}

.personal-details__shipping-text {
	margin-right: 14px;
	font-size: 12px;
	color: #f26c63;
}

.personal-details__shipping-btn {
	padding: 8px 11px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	background: $blue;
	border: none;
	@include border-radius(20px);
	outline: none;
	cursor: pointer;
}

.personal-details__checkbox {
	overflow: hidden;
}

.personal-details__coments {
	margin-top: 25px;
}

.personal-details__list {

}

.personal-details__item {
	padding: 16px 12px;
	@extend %clearfix;

	&:nth-child(2n) {
		background: #fff;
	}

	&:nth-child(2n+1) {
		background: #f5f5f5;
	}
}

.personal-details__name {
	float: left;
	width: 55%;

	@include phones {
		width: 44%;
	}
}

.personal-details__size {
	float: left;
	width: 15%;
	text-align: center;

	@include phones {
		width: 21%;
	}
}

.personal-details__price {
	float: left;
	width: 20%;
	text-align: center;

	@include phones {
		width: 20%;
	}
}

.personal-details__number {
	float: right;
	width: 10%;
	text-align: center;

	@include phones {
		width: 15%;
	}
}

.personal-details__total {
	float: right;
	width: 50%;
	padding: 10px 0 45px;
	font-size: 16px;

	@include tablets {
		width: 100%;
	}

	@include phones {
		padding: 10px 0 25px;
	}
}

.personal-details__total-sale,
.personal-details__total-weight,
.personal-details__total-price,
.personal-details__total-shipping,
.personal-details__total-pay {
	margin-bottom: 10px;
	@extend %clearfix;
}

.personal-details__total__key {
	float: left;
	width: 50%;
}

.personal-details__total__value {
	float: right;
	width: 50%;
	font-family: 'Robotomedium';
	text-align: right;

	span {
		font-family: 'Robotolight';
	}
}