.sidebar {
	position: absolute;
	top: 0;
	width: 50px;
	height: 750px;
    z-index: 10;

    @include tablets {
    	position: relative;
    	width: auto;
    	height: auto;
    }
}

.sidebar-left {
	padding-top: 17px;
	left: 0;

	@include tablets {
		float: left;
		padding-top: 30px;
	    left: 0;
	}
}

.sidebar-right {
	padding-top: 70px;
	right: 0;

	@include tablets {
		float: right;
	    padding-top: 30px;
	    right: 0;
	}
}

.sidebar__item {
	height: 50px;

	@include tablets {
		@include inline-block(top);
		width: 30px;
		height: 30px;
	}
}

.basket-value {
	position: absolute;
	bottom: 8px;
	right: 9px;
	width: 17px;
	height: 17px;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	background: #fff;
	border: 1px solid $black;
	@include border-radius(50%);
	z-index: 2;

	@include tablets {
		bottom: -2px;
		right: -1px;
	}
}

.sidebar__link {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.sidebar__item--search,
.sidebar__item--language {
	@include tablets {
		display: none;
	}
}

.sidebar__link--burger {

	&:after {
		width: 24px;
		height: 16px;
		@include transform(translate(-50%, -50%));
		background: url(../img/icons/sidebar/burger.png) no-repeat;
		background-size: contain;
	}
}

.sidebar__link--basket {

	&:after {
		width: 22px;
		height: 28px;
		@include transform(translate(-50%, -50%));
		background: url(../img/icons/sidebar/basket.png) no-repeat;
		background-size: contain;
	}
}

.sidebar__link--login {

	&:after {
		width: 28px;
		height: 28px;
		@include transform(translate(-50%, -50%));
		background: url(../img/icons/sidebar/login.png) no-repeat;
		background-size: contain;
	}

	@include phones {
		width: 28px;
		height: 28px;
	}
}

.sidebar__link--search {

	&:after {
		width: 28px;
		height: 28px;
		@include transform(translate(-50%, -50%));
		background: url(../img/icons/sidebar/search.png) no-repeat;
		background-size: contain;
	}
}

.sidebar__link--address {

	&:after {
		width: 24px;
		height: 28px;
		@include transform(translate(-50%, -50%));
		background: url(../img/icons/sidebar/address.png) no-repeat;
		background-size: contain;
	}
}

.sidebar__link--language {

	&:after {
		width: 24px;
		height: 18px;
		@include transform(translate(-50%, -50%));
		background: url(../img/icons/sidebar/language-en.png) no-repeat;
		background-size: contain;
	}
}

.developer {
	position: absolute;
    bottom: 65px;
    left: -52px;
	width: 150px;
	@include transform(rotate(-90deg));

	@include tablets {
		display: none;
	}
}

.developer__link {
	font-size: 11px;
	color: $black;
}
