extends ../main

block title
	| Как купить

block wrapper
	.wrapper.wrapper--footer-min
		.maincontent
			include ../_common/_header

			main.main
				.container
					block content
						include ../_common/_howto

block footer
	include ../_common/_footer-min
