extends ../main

block title
	| Программа лояльности

block wrapper
	.wrapper.wrapper--footer-min
		.maincontent
			include ../_common/_header

			main.main
				.container
					block content
						include ../_common/_loyalty

block footer
	include ../_common/_footer-min