extends ../main

block title
	| Оплата

block wrapper
	.wrapper
		.maincontent
			include ../_common/_header

			main.main
				.container
					block content
						include ../_common/_breadcrumbs
						include ../_common/_pay

block footer
	include ../_common/_footer