.about
	.about__banner.about__banner--top
		.about__title-wrapp
			.about__title Официальный<br> интернет-магазин торговой марки <span class="about__title-small">i</span>Love Mum
	.about__feature
		.about__title Ведущий производитель одежды для беременных и кормящих
		ul.about__list
			li.about__item
				.about__desc-big 2009
				.about__desc-small Год основания
			li.about__item
				.about__desc-big 50к +
				.about__desc-small Заказов ежегодно
			li.about__item
				.about__desc-big 200 +
				.about__desc-small Дилеров в 7 странах
			li.about__item
				.about__desc-big 700
				.about__desc-small Цветомоделей в сезон
			li.about__item
				.about__desc-big 12
				.about__desc-small Патентов на секреты
		.about__desc С удовольствием отправим заказ в любую точку планеты
	.about__banner.about__banner--second
		.about__title-wrapp
			.about__title Нашу продукцию мы производим  на наших фабриках в России
	.about__half
		.about__half-left
			.about__title В каталоге магазина<br> обратите внимание на Значок «Удобно для кормления»<br> означает, что изделие<br> имеет секрет для незаметного кормления ребенка грудью
		.about__half-right
			.about__half-desc Удобно для кормления
	.about__banner.about__banner--third
		.about__title-wrapp
			.about__title Помимо собственной продукции в интернет-магазине представлено белье Российских производителей
			.about__brands.brands
				ul.brands__list
					li.brands__item
						a.brands__link(href="http://mamaline.ru") Mamaline logo
					li.brands__item
						a.brands__link(href="http://newformstil.ru") Newform logo
				

	.about__sale
		.about__title Для постоянных покупателей у нас работает программа лояльности позволяющая сэкономить<br> <span class="about__title-big">до 17%</span>
	.about__banner.about__banner--bottom
		.about__title-wrapp
			.about__title Будем рады увидеть Вас<br> в числе наших покупателей
			.about__title Ваш <span class="about__title-small">i</span>Love Mum


