.accordion
	ul.accordion__list
		li.accordion__item.active
			a.accordion__link.trigger(href="#") Одежда для беременных и кормящих
			ul.accordion-sub__list
				li.accordion-sub__item
					a.accordion-sub__link.accordion-sub__link--trigger(href="#") Белье, колготки
				li.accordion-sub__item
					a.accordion-sub__link.trigger(href="#") Блузы, рубашки
					ul.accordion-sub-2__list
						li.accordion-sub-2__item
							a.accordion-sub-2__link(href="#") Белье, колготки
						li.accordion-sub-2__item
							a.accordion-sub-2__link(href="#") Белье, колготки
						li.accordion-sub-2__item
							a.accordion-sub-2__link(href="#") Белье, колготки
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Верхняя одежда
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Джемперы, толстовки
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Комбинезоны, костюмы
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Лонгсливы
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Майки, топы
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Манишки, капоры, краги
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Одежда для дома и сна
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Комплекты для роддома
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Платья, сарафаны
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Туники
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Футболки
				li.accordion-sub__item
					a.accordion-sub__link(href="#") Юбки, шорты
		li.accordion__item
			a.accordion__link(href="#") Детям
	ul.accordion-sub__list.margin-top
		li.accordion-sub__item
			a.accordion-sub__link(href="#") Хиты
		li.accordion-sub__item
			a.accordion-sub__link(href="#") Распродажа
		li.accordion-sub__item
			a.accordion-sub__link(href="#") Последний размер
		li.accordion-sub__item
			a.accordion-sub__link(href="#") Удобно для кормления