.breadcrumbs
	ul.breadcrumbs__list
		- var items = ["Главная", "Одежда для беременных и кормящих ", "Брюки, джинсы, леггинсы", "Леггинсы утепленные «Инфинити»"]
		each item in items
			li(class="breadcrumbs__item" + ((item == "Леггинсы утепленные «Инфинити»") ? ' current' : ''))
				a(href="#").breadcrumbs__link= item
