.card
	.card__wrapp
		.card__left.gallery
			.gallery__left
				ul.gallery-prev__list
					li.gallery-prev__item
						.gallery-prev__img
							img.gallery-prev__img-pic.img-width(src="./img/card/card-model-1.jpeg")
					li.gallery-prev__item
						.gallery-prev__img
							img.gallery-prev__img-pic.img-width(src="./img/card/card-model-2.jpeg")
					li.gallery-prev__item
						.gallery-prev__img
							img.gallery-prev__img-pic.img-width(src="./img/card/card-model-3.jpeg")
					li.gallery-prev__item
						.gallery-prev__img
							img.gallery-prev__img-pic.img-width(src="./img/card/card-model-4.jpeg")
					li.gallery-prev__item
						.gallery-prev__img
							img.gallery-prev__img-pic.img-width(src="./img/card/card-model-5.jpeg")
					li.gallery-prev__item
						.gallery-prev__img
							img.gallery-prev__img-pic.img-width(src="./img/card/card-model-6.jpeg")

			.gallery__right
				.gallery__right-content
					ul.gallery__list
						li.gallery__item
							.gallery__img
								img.gallery__img-pic.img-width(src="./img/card/card-model-1.jpeg")
						li.gallery__item
							.gallery__img
								img.gallery__img-pic.img-width(src="./img/card/card-model-2.jpeg")
						li.gallery__item
							.gallery__img
								img.gallery__img-pic.img-width(src="./img/card/card-model-3.jpeg")
						li.gallery__item
							.gallery__img
								img.gallery__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						li.gallery__item
							.gallery__img
								img.gallery__img-pic.img-width(src="./img/card/card-model-5.jpeg")
						li.gallery__item
							.gallery__img
								img.gallery__img-pic.img-width(src="./img/card/card-model-6.jpeg")
					ul.gallery__stock-list
						li.gallery__stock-item.catalog__stock-item--last
							a.gallery__stock-link(href="#") Последний размер
						li.gallery__stock-item.catalog__stock-item--sale
							a.gallery__stock-link(href="#") Распродажа
		.card__right
			.card__article
				span.card__article-text Артикул:
				span.card__article-value 45206
			.card__title
				h1(.card__title-text) Платье «Кашкорсе» для беременных и кормящих, цвет: розовый (ss17)
			.card__wrapp-price
				.card__price
					span.card__price-descount 1 850
					span.card__price-value 1 650
					span.card__price-sign руб.
				.card__shipping-text Бесплатная доставка*
			.card__size
				.card__size-left
					.card__size-wrapp
						.card__size-title Выберите размер
						ul.card__size-value-list
							li.card__size-value-item
								a.card__size-value-link(href="#" rel="40") 40
							li.card__size-value-item
								a.card__size-value-link(href="#" rel="42") 42
							li.card__size-value-item 
								a.card__size-value-link(href="#" rel="44") 44
				.card__size-right
					ul.card__size-watch-list
						li.card__size-watch-item
							a.card__size-watch-link.card__size-watch-link--learn(href="#") Узнать свой размер
						li.card__size-watch-item
							a.card__size-watch-link.card__size-watch-link--watch(href="#") Виртуальная примерочная
			.card__shops
				.card__shops-title Эти размеры Вы сможете померить в Наших магазинах
				.card__shops-wrapp
					a.card__shops-trigger(href="#")
						.card__shops-dotts Москва, Сущевский Вал, 3/5а
						.card__shops-size
							span Размеры:
							span 42, 48, 50
						ul.card__shops-list
							li.card__shops-item
								.card__shops-dotts Москва, Сущевский Вал, 3/5а
								.card__shops-size
									span Размеры:
									span 42, 48, 50
							li.card__shops-item
								.card__shops-dotts Москва, Сущевский Вал, 3/5а
								.card__shops-size
									span Размеры:
									span 42, 48, 50
							li.card__shops-item
								.card__shops-dotts Москва, Сущевский Вал, 3/5а
								.card__shops-size
									span Размеры:
									span 42, 48, 50
			.card__wrapp-buy
				.card__buy
					a.card__buy-link(href="#") Купить
				.card__color
					.card__color-title Другие цвета
					ul.card__color-list
						li.card__color-item
							a.card__color-link(href="#")
								.card__color-value.card__color-value--green
						li.card__color-item
							a.card__color-link(href="#")
								.card__color-value.card__color-value--turquoise
						li.card__color-item
							a.card__color-link(href="#")
								.card__color-value.card__color-value--orange
						li.card__color-item
							a.card__color-link(href="#")
								.card__color-value.card__color-value--grey
			.card__tabs
				ul.card__tabs-list
					li.card__tabs-item.active
						a.card__tabs-link(href="#") Описание
					li.card__tabs-item
						a.card__tabs-link(href="#") Характеристики
					li.card__tabs-item
						a.card__tabs-link(href="#") Отзывы
						ul.card-rating__list
							li.card-rating__item
								img(src="./img/card/card-star_active.png").card__rating-icon
							li.card-rating__item
								img(src="./img/card/card-star_active.png").card__rating-icon
							li.card-rating__item
								img(src="./img/card/card-star_active.png").card__rating-icon
							li.card-rating__item
								img(src="./img/card/card-star.png").card__rating-icon
							li.card-rating__item
								img(src="./img/card/card-star.png").card__rating-icon
			.card__content
				ul.card__content-list
					li.card__content-item.active
						ul.card__desc-list
							li.card__desc-item Куртку можно носить как обычную стильную куртку.
							li.card__desc-item Для ношения в период беременности предусмотрена специальная пристегивающаяся вставка.
							li.card__desc-item Куртку можно носить как слингокуртку (ношение ребенка в куртке под слинговставкой в слинге или в рюкзачке)
							li.card__desc-item Капюшон спасает от непогоды, можно отрегулировать его объем благодаря кулискам.
							li.card__desc-item Боковые карманы на молнии удобны для мелочей.
						.card__desc-notice 
							| <span>Внимание:</span> Ношение в слингокуртке <span>не предусматривает</span> позицию «колыбелька», ребенка можно носить только в вертикальном положении.
						ul.card__desc-list
							li.card__desc-item Куртку можно носить как обычную стильную куртку.
							li.card__desc-item Для ношения в период беременности предусмотрена специальная пристегивающаяся вставка.
							li.card__desc-item Куртку можно носить как слингокуртку (ношение ребенка в куртке под слинговставкой в слинге или в рюкзачке)
							li.card__desc-item Капюшон спасает от непогоды, можно отрегулировать его объем благодаря кулискам.
							li.card__desc-item Боковые карманы на молнии удобны для мелочей.
					li.card__content-item
						ul.card__features-list
							li.card__features-item
								.card__features-title Состав:
								.card__features-desc 95% Хлопок, 5% Эластан
							li.card__features-item
								.card__features-title Тип:
								.card__features-desc для беременных и кормящих
							li.card__features-item
								.card__features-title Коллекция:
								.card__features-desc нет
							li.card__features-item
								.card__features-title Сезонность:
								.card__features-desc весна-лето
							li.card__features-item
								.card__features-title Размер на модель:
								.card__features-desc 42
							li.card__features-item
								.card__features-title Рост модели:
								.card__features-desc 178 см.
					li.card__content-item here text...
			.card__accordion
				ul.card__accordion-list
					li.card__accordion-item.active
						a.card__accordion-link(href="#")
							span Описание
						.card__accordion-content
							ul.card__desc-list
								li.card__desc-item Куртку можно носить как обычную стильную куртку.
								li.card__desc-item Для ношения в период беременности предусмотрена специальная пристегивающаяся вставка.
								li.card__desc-item Куртку можно носить как слингокуртку (ношение ребенка в куртке под слинговставкой в слинге или в рюкзачке)
								li.card__desc-item Капюшон спасает от непогоды, можно отрегулировать его объем благодаря кулискам.
								li.card__desc-item Боковые карманы на молнии удобны для мелочей.
							.card__desc-notice 
								| <span>Внимание:</span> Ношение в слингокуртке <span>не предусматривает</span> позицию «колыбелька», ребенка можно носить только в вертикальном положении.
							ul.card__desc-list
								li.card__desc-item Куртку можно носить как обычную стильную куртку.
								li.card__desc-item Для ношения в период беременности предусмотрена специальная пристегивающаяся вставка.
								li.card__desc-item Куртку можно носить как слингокуртку (ношение ребенка в куртке под слинговставкой в слинге или в рюкзачке)
								li.card__desc-item Капюшон спасает от непогоды, можно отрегулировать его объем благодаря кулискам.
								li.card__desc-item Боковые карманы на молнии удобны для мелочей.
					li.card__accordion-item
						a.card__accordion-link(href="#")
							span Характеристики
						.card__accordion-content 
							ul.card__features-list
								li.card__features-item
									.card__features-title Состав:
									.card__features-desc 95% Хлопок, 5% Эластан
								li.card__features-item
									.card__features-title Тип:
									.card__features-desc для беременных и кормящих
								li.card__features-item
									.card__features-title Коллекция:
									.card__features-desc нет
								li.card__features-item
									.card__features-title Сезонность:
									.card__features-desc весна-лето
								li.card__features-item
									.card__features-title Размер на модель:
									.card__features-desc 42
								li.card__features-item
									.card__features-title Рост модели:
									.card__features-desc 178 см.

					li.card__accordion-item
						a.card__accordion-link(href="#")
							span Отзывы
							ul.card-rating__list
								li.card-rating__item
									img(src="./img/card/card-star_active.png").card__rating-icon
								li.card-rating__item
									img(src="./img/card/card-star_active.png").card__rating-icon
								li.card-rating__item
									img(src="./img/card/card-star_active.png").card__rating-icon
								li.card-rating__item
									img(src="./img/card/card-star.png").card__rating-icon
								li.card-rating__item
									img(src="./img/card/card-star.png").card__rating-icon
						.card__accordion-content her text...

			.card__socials
				.card__socials-title Поделиться
				ul.card__socials-list
					- var socials = ['fb', 'vk', 'tw', 'in'] 
					each item in socials 
						li.card__socials-item
							a(href="#" class="card__socials-link card__socials-link--#{item}")
			.card__info
				ul.card__info-list
					li.card__info-item.card__info-item--sh
						a.card__info-link.card__info-link--sh(href="#") Доставка
					li.card__info-item.card__info-item--pa
						a.card__info-link.card__info-link--pa(href="#") Оплата
					li.card__info-item.card__info-item--ma
						a.card__info-link.card__info-link--ma(href="#") Фирменные магазины
					li.card__info-item.card__info-item--gu
						a.card__info-link.card__info-link--gu(href="#") Гарантия качества
	.card-look
		ul.card-look__list.catalog-list
			li.card-look__item.card-look__banner
				.card-look__banner-text Завершите свой образ
			li.card-look__item.catalog-item
				.card-look__block
					.card-look__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.card-look__stock-list
							li.card-look__stock-item.catalog__stock-item--last
								a.card-look__stock-link(href="#") Последний размер
							li.card-look__stock-item.catalog__stock-item--sale
								a.card-look__stock-link(href="#") Распродажа
						.card-look__btns.size-btns
							a.card-look__buy(href="#") Купить
							.card-look__size.size-box
								.card-look__size-title.size-choice Выберите размер
								ul.card-look__size-list.size-list
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="40") 40
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="42") 42
									li.card-look__size-item 
										a.card-look__size-link.size-value(href="#" rel="44") 44
					.card-look__desc
						a.card-look__desc-link(href="card.html")
							.card-look__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.card-look__desc-price
								span.card-look__desc-value 1 650
								span.card-look__desc-sign руб.
			li.card-look__item.catalog-item
				.card-look__block
					.card-look__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.card-look__stock-list
							li.card-look__stock-item.catalog__stock-item--last
								a.card-look__stock-link(href="#") Последний размер
						.card-look__btns.size-btns
							a.card-look__buy(href="#") Купить
							.card-look__size.size-box
								.card-look__size-title.size-choice Выберите размер
								ul.card-look__size-list.size-list
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="40") 40
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="42") 42
									li.card-look__size-item 
										a.card-look__size-link.size-value(href="#" rel="44") 44
					.card-look__desc
						a.card-look__desc-link(href="card.html")
							.card-look__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.card-look__desc-price
								span.card-look__desc-value 1 650
								span.card-look__desc-sign руб.
			li.card-look__item.catalog-item
				.card-look__block
					.card-look__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.card-look__stock-list
							li.card-look__stock-item.catalog__stock-item--sale
								a.card-look__stock-link(href="#") Распродажа
						.card-look__btns.size-btns
							a.card-look__buy(href="#") Купить
							.card-look__size.size-box
								.card-look__size-title.size-choice Выберите размер
								ul.card-look__size-list.size-list
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="40") 40
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="42") 42
									li.card-look__size-item 
										a.card-look__size-link.size-value(href="#" rel="44") 44
					.card-look__desc
						a.card-look__desc-link(href="card.html")
							.card-look__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.card-look__desc-price
								span.card-look__desc-value 1 650
								span.card-look__desc-sign руб.
			li.card-look__item.catalog-item
				.card-look__block
					.card-look__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						.card-look__btns.size-btns
							a.card-look__buy(href="#") Купить
							.card-look__size.size-box
								.card-look__size-title.size-choice Выберите размер
								ul.card-look__size-list.size-list
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="40") 40
									li.card-look__size-item
										a.card-look__size-link.size-value(href="#" rel="42") 42
									li.card-look__size-item 
										a.card-look__size-link.size-value(href="#" rel="44") 44
					.card-look__desc
						a.card-look__desc-link(href="card.html")
							.card-look__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.card-look__desc-price
								span.card-look__desc-value 1 650
								span.card-look__desc-sign руб.