.catalog-random--panel
	ul.catalog-random__list
		- var items = ["Лонгсливы", "Туники", "Брюки", "Леггинсы", "Футболки", "Манишки", "Куртки", "Джемперы", "Лонгсливы", "Туники", "Брюки", "Леггинсы", "Футболки", "Манишки", "Куртки", "Джемперы", "Лонгсливы", "Туники", "Брюки", "Леггинсы", "Футболки"]
		each item in items
			li(class="catalog-random__item" + ((item == "Каталог") ? ' current' : ''))
				a(href="#").catalog-random__link= item