.catalog
	.catalog__left
		include _accordion
	.catalog__right
		include _filter
		include _catalog-random
		ul.catalog__list.catalog-list
			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.
			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--sale Распродажа
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.
			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
							li.catalog__stock-item.catalog__stock-item--sale Распродажа
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.
			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.

			li.catalog__item-banner
				a.catalog__link-banner(href="#")
					.catalog__img-banner
						img.catalog__img_pic-banner.img-width(src="./img/icons/catalog/banner.jpg")
			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.

			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.

			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.
			li.catalog__item.catalog-item
				.catalog__block
					.catalog__img
						ul.catalog__img-list
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-1.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-2.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-3.jpeg")
							li.catalog__img-item
								img.catalog__img-pic.img-width(src="./img/card/card-model-4.jpeg")
						ul.catalog__stock-list
							li.catalog__stock-item.catalog__stock-item--last Последний размер
						.catalog__btns.size-btns
							a.catalog__buy(href="#") Купить
							.catalog__size.size-box
								.catalog__size-title.size-choice Выберите размер
								ul.catalog__size-list.size-list
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="40") 40
									li.catalog__size-item
										a.catalog__size-link.size-value(href="#" rel="42") 42
									li.catalog__size-item 
										a.catalog__size-link.size-value(href="#" rel="44") 44
					.catalog__desc
						a.catalog__desc-link(href="card.html")
							.catalog__desc-name
								| Леггинсы «ЛК01» для беременных цвет: т.Синий (ss17)
							.catalog__desc-price
								.catalog__desc-price--en
									span.catalog__desc-usd ~20.50
									span.catalog__desc-eur ~18.74
								.catalog__desc-price--ru
									span.catalog__desc-descount 1 850
									span.catalog__desc-value 1 650
									span.catalog__desc-sign руб.

		.catalog__preloader
		