.contacts
	.contacts__banner.page-banner
		.page-banner__bg
			.page-banner__title Контакты
	include _breadcrumbs
	section.contacts__section.section-contacts
		.section-contacts__left
			.contacts__block
				.contacts__title Телефоны
				.stores-contacts__phone +7 (495) 988-16-14
				.stores-contacts__phone 8 (800) 550-500-1
			.contacts__block
				.contacts__title Режим работы операторов
				.stores-contacts__time Ежедневно с 9:00 - 18:00 МСК
			.contacts__block
				.contacts__title Отдел розничной торговли Москва
				.stores-contacts__phone +7 (495) 988-16-14 доп.101
		.section-contacts__right
			.contacts__block
				.contacts__title Отдел розничной торговли регионы
				.stores-contacts__phone +7 (495) 988-16-14 доп.112
			.contacts__block
				.contacts__title По вопросам сотрудничества <span>(оптовые продажи)</span>
				.stores-contacts__phone +7 (495) 988-16-14 доп.107
				a.stores-contacts__mail(href="mail:babkina@ilovemum.ru") babkina@ilovemum.ru
	section.contacts__section.contacts__stores
		.contacts__title Розничные магазины
		ul.stores-contacts__list
			li.stores-contacts__item
				.stores-contacts__name Метро Савеловская
				.stores-contacts__point Москва, ул. Сущевский Вал, 3/5а
				.stores-contacts__time Ежедневно 10:00 - 21:00
				.stores-contacts__phone +7 (495) 988-16-14 (301)
				a.stores-contacts__link(href="#") Как добраться
			li.stores-contacts__item
				.stores-contacts__name Метро Братиславская
				.stores-contacts__point Москва, ТРК БУМ, ул. Перерва, 43к1
				.stores-contacts__time Ежедневно 10:00 - 21:00
				.stores-contacts__phone +7 (495) 988-16-14 (304)
				a.stores-contacts__link(href="#") Как добраться
			li.stores-contacts__item
				.stores-contacts__name Метро Отрадное
				.stores-contacts__point Москва, ул. Северный бульвар, д.2
				.stores-contacts__time Ежедневно 10:00 - 21:00
				.stores-contacts__phone +7 (495) 988-16-14 (303)
				a.stores-contacts__link(href="#") Как добраться
			li.stores-contacts__item
				.stores-contacts__name Метро Варшавская
				.stores-contacts__point Москва, Варшавское шоссе, 68 корпус 2
				.stores-contacts__time Ежедневно 10:00 - 21:00
				.stores-contacts__phone +7 (495) 988-16-14 (302)
				a.stores-contacts__link(href="#") Как добраться
