.delivery
	.delivery__banner.page-banner
		.page-banner__bg
			.page-banner__title Доставка
	.delivery__section
		.delivery__section-title Доставка Москва
		.delivery__section-wrapp
			.delivery__left
				.delivery__section-header.delivery-section__header
					.delivery-section__col-wrapp
						.delivery-section__col
							.delivery-section__img.img-contain(style="background-image: url(./img/delivery/deliv_1.png);")
								img.delivery-section__img-pic.img-fake(src="./img/delivery/deliv_1.png")
							.delivery-section__title Доставка курьером в пределах МКАД (не более 5 км.)
							.delivery-section__desc Бесплатно при заказе от 3 000 руб. Стоимость 250 руб.
						.delivery-section__col
							.delivery-section__img.img-contain(style="background-image: url(./img/delivery/deliv_2.png);")
								img.delivery-section__img-pic.img-fake(src="./img/delivery/deliv_2.png")
							.delivery-section__title Доставка курьером за МКАД (не более 5 км.)
							.delivery-section__desc Скидка 250 руб. При заказе от 3 000 руб.<a href="#">Посмотреть стоимость</a>
				.delivery__section-body.delivery-section__body
					.delivery-section__text.text-center
						p Комплектация заказа при доставке курьером может составлять не более 10-ти позиций. 
						p В одном заказе мы сможем Вам доставить не более: -2х курток; -2х рюкзаков-переносок.
						p Доставка заказов осуществляется по будням в течение 3-4х рабочих дней.Промежуток времени доставки с 11 до 18 час.(пн.-пт.). В период праздников, акции и распродаж сроки доставки могут быть увеличены.
						p Время ожидания курьера и бесплатной примерки/просмотра = 15 мин. с момента прибытия курьера по адресу. Каждые последующие 15 мин. примерки (ожидания) оплачиваются курьером в размере 200 руб.
						p Если по приезду курьера Вам не понравился/не подошел ни один из заказанных товаров, Вы можете отказаться от заказа. При этом оплачивается стоимость доставки курьера.
						
			.delivery__right
				.delivery__section-header.delivery-section__header
					.delivery-section__img.img-contain(style="background-image: url(./img/delivery/sdek.png);")
						img.delivery-section__img-pic.img-fake(src="./img/delivery/sdek.png")
					.delivery-section__title Самовывоз из пункта выдачи сдэк с возможностью примерки
					.delivery-section__desc Частичная оплата стоимость по тарифам СДЭК
				.delivery__section-body.delivery-section__body
					.delivery-section__text 
						p Вы можете оформить заказ с самовывозом из <a href="#">пунктов выдачи СДЭК</a>. 
						p При заказе с возможностью примерки и частичной оплаты Вам надо будет только оплатить на сайте доставку.
						p В случае если что, то не подошло возврат для Вас бесплатный.
						p Обратите внимание, что СДЭК не принимает к оплате банковские карты, оплата возможна только наличными
	.delivery__section.delivery__section--bg
		.delivery__section-title Доставка по России
		.delivery__section-wrapp
			.delivery__section-col
				.delivery__section-header.delivery-section__header
					.delivery-section__img.img-contain(style="background-image: url(./img/delivery/sdek.png);")
						img.delivery-section__img-pic.img-fake(src="./img/delivery/sdek.png")
					.delivery-section__title Экспресс доставка компанией СДЭК
					.delivery-section__desc Самый быстрый и недорогой 
					.delivery-section__desc Доставка в 296 городов России
				.delivery__section-body.delivery-section__body
					.delivery-section__content
						.delivery-section__desc.margin-bottom Доставка с примеркой
						.delivery-section__text
							p Вам нужно оплатить на сайте доставку, стоимость выбранного Вами товара Вы оплачиваете после примерки. На примерку возмоно заказать до 10 товарных позиций, включая не более 2-х курток и 2-х рюкзаков-переносок. Время примерки 15 минут. Если Вы хотите заказать больше - Вам придется оформить второй заказ.
						.delivery-section__attention
							| При отправке заказа транспортной компанией (с примеркой) стоимость заказа оплачивается наличными после примерки, стоимость доставки оплачивается заранее.
						.delivery-section__desc.margin-bottom Доставка без примерки
						.delivery-section__text
							p.no-margin Вы можете оплатить доставку без примерки любым удобным для Вас способом возможным у нас на сайте
							ul
								li Доставка курьером до двери
								li 
									<a href="#">Вывоз со склада СДЭК</a> в Вашем городе
						.delivery-section__attention
							| При отправке заказа транспортной компанией (с примеркой) стоимость заказа + транспортные расходы оплачиваются заранее.
						.delivery-section__text
							p В обоих случаях Вас известят о поступлении заказа СМС на номер Вашего телефона. Отследить доставку по номер отправления можно на сайте СДЭК <a href="www.cdek.ru">www.cdek.ru</a>.
						
			.delivery__section-col
				.delivery__section-header.delivery-section__header
					.delivery-section__img.img-contain(style="background-image: url(./img/delivery/mail_russia.png);")
						img.delivery-section__img-pic.img-fake(src="./img/delivery/mail_russia.png")
					.delivery-section__title Простая посылка почты России
					.delivery-section__desc Самый дешевый способ доставки
					.delivery-section__desc Бесплатно при заказе от 3 000 руб.
				.delivery__section-body.delivery-section__body
					.delivery-section__content
						.delivery-section__text
							p Расчет стоимости доставки на сайте включает в себя расходы на упаковку и может незначительно отличаться от расчета стоимости на сайте Почты России. Расчет стоимости и сроки доставки предоставлен сервисом Почты России. При сумме заказа от 3 000 руб. доставка Почтой России осуществляется бесплатно.
							p При отправке заказа по почте стоимость заказа + почтовые расходы оплачиваются заранее.
							p Сроки доставки являются приблизительными, и Компания не несет ответственности за отклонения фактических сроков доставки Почтой России от расчетных.
							p Почтовые отправления можно посмотреть в <a href="#">Личном кабинете</a>
	.delivery__section
		.delivery__section-title Международная доставка
		.delivery__section-wrapp
			.delivery__section-col
				.delivery__section-header.delivery-section__header
					.delivery-section__img.img-contain(style="background-image: url(./img/delivery/ems.png);")
						img.delivery-section__img-pic.img-fake(src="./img/delivery/ems.png")
					.delivery-section__title Международная доставка
					.delivery-section__desc Самый быстрый способ доставки 
						a(href="#") Посмотреть стоимость
				.delivery__section-body.delivery-section__body
						.delivery-section__content
							.delivery-section__text
								p Мы осуществляем доставку во все страны в которые осуществляется доставка экспресс-службой ЕМС. Доставка осуществляется по тарифам данных компаний.
								p Расчитать стоимость Вы можете при оформлении заказа, стоимость зависит от веса посылки. Примерная стоимость отправки 1 кг. - 800-1000 руб.
			.delivery__section-col
				.delivery__section-header.delivery-section__header
					.delivery-section__img.img-contain(style="background-image: url(./img/delivery/mail_russia.png);")
						img.delivery-section__img-pic.img-fake(src="./img/delivery/mail_russia.png")
					.delivery-section__title Простая посылка почты России
					.delivery-section__desc Самый дешевый способ доставки
					.delivery-section__desc Бесплатно при заказе от 3 000 руб.
				.delivery__section-body.delivery-section__body
					.delivery-section__content
						.delivery-section__text
							p Расчет стоимости доставки на сайте включает в себя расходы на упаковку и может незначительно отличаться от расчета стоимости на сайте Почты России. Расчет стоимости и сроки доставки предоставлен сервисом Почты России. При сумме заказа от 3 000 руб. доставка Почтой России осуществляется бесплатно.
							p При отправке заказа по почте стоимость заказа + почтовые расходы оплачиваются заранее.
							p Сроки доставки являются приблизительными, и Компания не несет ответственности за отклонения фактических сроков доставки Почтой России от расчетных.
	.delivery__section.delivery__section--bg
		.delivery__section-title Возврат
		.delivery__section-body.delivery-section__body
			.delivery-section__text.text-center.width
				p Приобретая товар по почте или через транспортную компанию, вернуть не подошедший товар можно в течении 14 дней с момента получения посылки. После получения возврата мы можем отправить взамен другой товар или вернуть деньги на банковскую карту. В случае возврата не подошедшего товара, почтовые расзоды оплачиваются отправителем.
				p Приобретая товар с Курьерской доставкой, вернуть не подошедший товар можно только с вызовом курьера в течении 14 дней со дня покупки.
				p Стоимость вызова курьера в пределах МКАД-250 руб. Стоимость вызова курьера за МКАД-определяется полной стоимостью доставки.
				p К возврату принимается товар, который не был в носке, а так же с сохранением всех бирок и ярлыков. Необходимые документы для возврата: чек, товарная накладная, паспорт.
