.filtr
	.filtr__title Фильтр
	.filtr-color
		a(href="#").filtr-color__link.filtr__toggle Цвет
		.filtr-color__dropdown.filtr__dropdown
			ul.filtr-color__list
				li.filtr-color__item.filtr-color__item--white
					label
						input.filtr-color__input--white(type="checkbox" value="Y")
						.filtr-color__desc Белый
				li.filtr-color__item.filtr-color__item--turquoise
					label
						input.filtr-color__input--turquoise(type="checkbox" value="Y")
						.filtr-color__desc Бирюзовый
				li.filtr-color__item.filtr-color__item--green
					label
						input.filtr-color__input--green(type="checkbox" value="Y")
						.filtr-color__desc Зеленый
				li.filtr-color__item.filtr-color__item--red
					label
						input.filtr-color__input--red(type="checkbox" value="Y")
						.filtr-color__desc Красный
				li.filtr-color__item.filtr-color__item--yellow
					label
						input.filtr-color__input--yellow(type="checkbox" value="Y")
						.filtr-color__desc Желтый
				li.filtr-color__item.filtr-color__item--orange
					label
						input.filtr-color__input--orange(type="checkbox" value="Y")
						.filtr-color__desc Оранжевый
				li.filtr-color__item.filtr-color__item--blue
					label
						input.filtr-color__input--blue(type="checkbox" value="Y")
						.filtr-color__desc Синий
				li.filtr-color__item.filtr-color__item--purple
					label
						input.filtr-color__input--purple(type="checkbox" value="Y")
						.filtr-color__desc Фиолетовый
				li.filtr-color__item.filtr-color__item--black
					label
						input.filtr-color__input--black(type="checkbox" value="Y")
						.filtr-color__desc Черный
				a.filtr-apply__link(href="#") Применить
	.filtr-size
		a(href="#").filtr-size__link.filtr__toggle Размер
		.filtr-size__dropdown.filtr__dropdown
			.filtr__dropdown-title Взрослый
			ul.filtr-size__list
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 40
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 42
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 44
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 46
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 48
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 50
				li.filtr-size__item
					label
						input.filtr-size__input(id="" type="checkbox" value="Y") 
						.filtr-size__desc 52+
				a.filtr-apply__link(href="#") Применить
	.filtr-type
		a(href="#").filtr-type__link.filtr__toggle Тип одежды
		.filtr-type__dropdown.filtr__dropdown
			ul.filtr-type__list
				li.filtr-type__item
					label
						input.filtr-type__input(id="" type="checkbox" value="Y")
						.filtr-type__desc Одежда для беременных и кормящих
				li.filtr-type__item 
					label
						input.filtr-type__input(id="" type="checkbox" value="Y")
						.filtr-type__desc Одежда для беременных
				li.filtr-type__item 
					label
						input.filtr-type__input(id="" type="checkbox" value="Y")
						.filtr-type__desc Одежда для кормящих мам
				li.filtr-type__item
					label
						input.filtr-type__input(id="" type="checkbox" value="Y") 
						.filtr-type__desc Прочее
	.filtr-clear
		a.filtr-clear__link(href="#") Сбросить
	.filtr-sort
		span.filtr-sort__text Сортировать по:
		span.filtr-sort__value
		select.filtr-sort__select
			option.filtr-sort__option возрастанию цены
			option.filtr-sort__option убыванию цены
