footer.footer.footer-min
	.container
		.footer__nav
			.nav
				ul.nav__list
					li.nav__item
						a(href="#").nav__link О нас
					li.nav__item
						a(href="#").nav__link Контакты
					li.nav__item
						a(href="#").nav__link Магазины
					li.nav__item
						a(href="#").nav__link Как купить
					li.nav__item
						a(href="#").nav__link Гарантии
					li.nav__item 
						a(href="#").nav__link Возврат
					li.nav__item
						a(href="#").nav__link Распродажа
					li.nav__item
						a(href="#").nav__link Вопросы
					li.nav__item
						a(href="#").nav__link Таблица размеров
					li.nav__item
						a(href="#").nav__link Видео-инструкции
					li.nav__item
						a(href="#").nav__link Наши новости
					li.nav__item
						a(href="#").nav__link Новости из соц.сетей
		.footer__bootom
			.footer__logo.logo
				a(href="/").logo__link
					img(src="./img/logos/logo-footer.png").logo__img
			.footer__copyright © 2009-2017, iLove mum<br> интернет-магазин одежды для беременных