footer.footer
		.container
			.footer__top
				.shipment <span>Бесплатная</span> доставка курьером или почтой России при покупке от 3000&#8381;
			.footer__socials
				.market
					.market__left
						a(href="https://market.yandex.ru/shop/42532/reviews" target="_blank" rel="nofollow").logo__link
							img(src="/img/logos/y-market-nox.png").logo__img
					.market__right
						.market__desc
							.market__desc Читайте отзывы
						.market__rating.rating
							.market__rating-text
								| Наш рейтинг
							ul.rating__list
								li.rating__item
									img(src="/img/decor/star-active.png").market__rating-icon
								li.rating__item
									img(src="/img/decor/star-active.png").market__rating-icon
								li.rating__item
									img(src="/img/decor/star-active.png").market__rating-icon
								li.rating__item
									img(src="/img/decor/star-active.png").market__rating-icon
								li.rating__item
									img(src="/img/decor/star.png").market__rating-icon
				.socials
					ul.socials__list
						li.socials__item.socials__item--ig
							.socials__desc
								.socials__desc-number 15041
								.socials__desc-participant Followers
							a(href="https://www.instagram.com/ilovemum.ru/" target="_blank" rel="nofollow").socials__link.socials__link--ig
								.socials__logo
									img(src="/img/icons/socials/ig.png").socials__logo-icon.socials__logo-icon--ig
									.socials__logo-text
										| Follow
						li.socials__item.socials__item--vk
							.socials__desc
								.socials__desc-number 26413
								.socials__desc-participant Участников
							a(href="https://vk.com/club23114751" target="_blank" rel="nofollow").socials__link.socials__link--vk
								.socials__logo
									img(src="/img/icons/socials/vk.png").socials__logo-icon.socials__logo-icon--vk
									.socials__logo-text
										| Подписаться
						li.socials__item.socials__item--fb
							.socials__desc
								.socials__desc-number 1666
								.socials__desc-participant &#171;Нравится&#187;
							a(href="https://www.facebook.com/ilovemum.ru" target="_blank" rel="nofollow").socials__link.socials__link--fb
								.socials__logo
									img(src="/img/icons/socials/fb.png").socials__logo-icon.socials__logo-icon--fb
									.socials__logo-text
										| Нравится
			.footer__counter
				.counter
					.counter__left
						.counter__text 
							p В <span>2017</span> году оформили заказ
							ul.counter__list
								li.counter__item 
									span 0
								li.counter__item 
									span 1
								li.counter__item 
									span 7
								li.counter__item 
									span 4
								li.counter__item 
									span 5
							p раз
					.counter__right
						.counter__text
							p Последний заказ <span>Москва</span>, сегодня в <span class="counter__hour">14:43</span>
			.footer__nav
				.nav
					ul.nav__list
						li.nav__item
							a(href="#").nav__link О нас
						li.nav__item
							a(href="#").nav__link Контакты
						li.nav__item
							a(href="#").nav__link Магазины
						li.nav__item
							a(href="#").nav__link Как купить
						li.nav__item
							a(href="#").nav__link Гарантии
						li.nav__item 
							a(href="#").nav__link Возврат
						li.nav__item
							a(href="#").nav__link Распродажа
						li.nav__item
							a(href="#").nav__link Вопросы
						li.nav__item
							a(href="#").nav__link Таблица размеров
						li.nav__item
							a(href="#").nav__link Видео-инструкции
						li.nav__item
							a(href="#").nav__link Наши новости
						li.nav__item
							a(href="#").nav__link Новости из соц.сетей
			.footer__bootom
				.footer__logo.logo
					a(href="/").logo__link
						img(src="/img/logos/logo-footer.png").logo__img
				.footer__copyright © 2009-2017, iLove mum<br> интернет-магазин одежды для беременных