header.header
	.container
		.header__logo.logo
			a(href="/").logo__link
						img(src="/img/logos/logo-header.png").logo__img
		.header__nav.nav
			ul.nav__list
				li.nav__item
					a(href="#").nav__link Каталог
				li.nav__item
					a(href="#").nav__link Оплата
				li.nav__item
					a(href="#").nav__link Доставка
		.header__search.search
			form.search__form
				input(type="text" placeholder="Найти").search__form-input
				input(type="submite" value="").search__form-submite
		.header__phone
			.phone
				a(href="tel:+74959881614").phone__link
					span.phone__number
						| 8 (495) 988-16-14
				a(href="tel:+78005505001").phone__link
					span.phone__number
						| 8 (800) 550-500-1

