.howto
	.howto__banner.page-banner
		.page-banner__bg
			.page-banner__title Как купить
	include _breadcrumbs
	ul.howto__list
		li.howto__item.howto__item--first
			.howto__title.title-page Регистрация или вход
			.howto__desc 
				p Оформить заказ могут только пользователи зарегистрированные на сайте.
				p Пожалуйста, <a href="#">зарегестрируйтесь</a> или <a href="#">войдите</a> на сайт под своим логином.
			.howto__img
				img.howto__img-pic(src="./img/howto/howto_1.png")
		li.howto__item.howto__item--second
			.howto__title.title-page Добавить товар в корзину
			.howto__desc 
				p В карточке товара выберите нужный размер и нажмите кнопку «Добавить в корзину».
				p Выбраный товар появиться в корзине в правой части экрана. Нажмите, чтобы оформить заказ.
			.howto__img
				img.howto__img-pic(src="./img/howto/howto_2.png")
		li.howto__item.howto__item--third
			.howto__title.title-page Корзина
			.howto__desc 
				p В корзине можно изменить количество каждого выбранного товара, удалить ненужные вещи.
				p Если у вас есть промо код на скидку, введите его в соответствующее поле.
			.howto__img
				img.howto__img-pic(src="./img/howto/howto_3.png")
		li.howto__item.howto__item--fourth
			.howto__title.title-page Оформление заказа
			.howto__desc 
				p Выберите пункт доставки и способ, которым будет доставлен товар.
				p Заполните ваши данные, выберите способ оплаты и нажмите Оформить заказ.
			.howto__img.howto__img--last
				img.howto__img-pic(src="./img/howto/howto_4.png")
		li.howto__item.howto__item--fifth
			.howto__title.title-page Заказ оформлен
			.howto__desc 
				p Наш оператор свяжется с Вами в ближайшее время, так же Вам на электронную почту и телефон придет уведомление о Вашем заказе.