.index-popup.open
	.index-popup__left
	.index-popup__right
		.index-popup__close
			a.index-popup__close-link(href="#") Закрыть
		.index-popup__block
			.index-popup__title Узнайте первыми о наших акциях и новинках!
			.index-popup__desc Подпишитесь на нашу рассылку
			form.index-popup__form
				.index-popup__form-wrapp
					input.index-popup__input.input(type="text" placeholder="Ваше имя")
					//- label.index-popup__label.label Ваше имя
				.index-popup__form-wrapp
					input.index-popup__input.input(type="text" placeholder="Введите ваш e-mail")
					//- label.index-popup__label.label Введите ваш e-mail
				.index-popup__desc Планируемая дата рождения ребенка
				.index-popup__form-wrapp.index-popup__form-wrapp--date
					input.index-popup__input.input(type="text" placeholder="Выберите")
					//- label.index-popup__label.label Выберите
				label.index-popup__checkbox
						input.index-popup__checkbox-input.checkbox__input(type="checkbox" name="orderPay")
						.index-popup__checkbox-fake.checkbox__fake
						span.index-popup__checkbox-text Согласен на обработку персональных данных
				.index-popup__btns
					input.index-popup__btn(type="text" value="Подписаться")