.banner
	.banner__left
		.banner__img.img-cover(style="background-image: url(/img/ban/ban-2.png);")
			img.banner__img-pic.img-fake(src="/img/ban/ban-2.png")
			.banner__desc
				.banner__desc-title Зачем тратить много времени на шоппинг
				.banner__desc-text Весна-лето 2017
				a.banner__desc-link(href="#") Смотреть коллекцию
			.banner__price.banner__price--first
				.banner__price-name Платье Луиза
				.banner__price-value 1550&#8381;
			.banner__price.banner__price--second
				.banner__price-name Платье Луиза
				.banner__price-value 1550&#8381;
			.banner__price.banner__price--third
				.banner__price-name Сандали
				.banner__price-value 1550&#8381;
	.banner__right
		.banner__top
			.banner__img.img-cover(style="background-image: url(/img/ban/ban-1.png);")
				img.banner__img-pic.img-fake(src="/img/ban/ban-1.png")
				.banner__desc
					.banner__desc-title Беременность от а до я
					.banner__desc-text Вся одежда, которая вам понадобится
		.banner__bottom
			.banner__img.img-cover(style="background-image: url(/img/ban/ban-3.png);")
				img.banner__img-pic.img-fake(src="/img/ban/ban-3.png")
				.banner__desc
					.banner__desc-title Соберись в роддом

