.language-popup
	.language-popup__close
		a.language-popup__close-link(href="#") Закрыть
	.language-popup__title Open the English version?
	.language-popup__btns
		a.language-popup__btn(href="#") cancel
		a.language-popup__btn.curent(href="#") yes