.loyalty
	.loyalty__banner-first.page-banner
		.page-banner__bg
			.page-banner__title Программа лояльности
	include _breadcrumbs
	.loyalty__sale
		.loyalty__title.title-page Для наших покупателей мы разработали систему скидок которая позволит вам покупать со скидками<br> <span class="title-page--big">до 17%<span>
	.loyalty__banner-sale.page-banner

	.loyalty__code
		.title-page Промокод
		.delivery-section__text
			p В случае если у Вас есть промокод на скидку в нашем магазине Вам нужно его ввести на стадии оформления товара и сумма заказа будет пересчитана.
			p Обратите внимание что Промокоды могут быть ограничены по времени использования.
			p В случае если Вы применяете сразу несколько видов скидок то расчет стоимости будет последователен
			p ((Начальная цена - скидка распродажи) - VIP скидка) - Промокод = конечная цена
