.panel.panel-burger
	.panel__wrapp
		.panel__close
			a.panel__close-link(href="#") Закрыть
		.panel__title Меню
		.panel-burger__list-wrapp
			ul.panel-burger__list
				li.panel-burger__item.width-50
					a.panel-burger__link(href="about.html") О нас
					ul.panel-subburger__list
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Производство
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Контакты
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Магазины
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Гарантии
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Возврат
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Наши новости
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Новости из соц.сетей
				li.panel-burger__item.width-50
					a.panel-burger__link(href="#") Покупателю
					ul.panel-subburger__list
						li.panel-subburger__item
							a.panel-subburger__link(href="pay.html") Оплата
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Доставка
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Как купить
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Вопросы
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Таблица размеров
						li.panel-subburger__item
							a.panel-subburger__link(href="#") Видео-инструкции

			ul.panel-burger__list
				li.panel-burger__item.width-100
					a.panel-burger__link(href="catalog.html") Каталог
					ul.panel-topburger__list
						li.panel-topburger__item.width-50
							a.panel-topburger__link(href="#") Одежда для беременных и кормящих
							ul.panel-subburger__list
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Белье, колготки
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Блузы, рубашки
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Брюки, джинсы, леггинсы
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Верхняя одежда
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Джемперы, толстовки
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Комбинезоны, костюмы
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Лонгсливы
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Майки, топы
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Манишки, капоры, краги
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Одежда для дома и сна
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Комплекты для роддома
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Платья, сарафаны
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Туники
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Футболки
								li.panel-subburger__item
									a.panel-subburger__link(href="#") Юбки, шорты
						li.panel-topburger__item.width-50
							a.panel-topburger__link.margin-bottom(href="#") Детям
							ul.panel-topburger__list
								li.panel-topburger__item
									a.panel-topburger__link(href="#") Хиты
								li.panel-topburger__item
									a.panel-topburger__link(href="#") Распродажа
								li.panel-topburger__item
									a.panel-topburger__link(href="#") Последний размер
								li.panel-topburger__item
									a.panel-topburger__link(href="#") Удобно для кормления