.panel.panel-search
	.panel__wrapp
		.panel__close
			a.panel__close-link(href="#") Закрыть
		.panel__title Поиск
		form.form__search
			.search-wrapp
				input(type="text" placeholder="Найти").form__search-input.input
				input(type="submite" value="").form__search-submite.search-submite
			ul.form__search-list
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
				li.form__search-item
					a.form__search-link(href="#")
						.form__search-title <b>Туни</b>ка «Афина» цвет: деним (ss17)
						.form__search-desc Для беременных и кормящих
			.form__btns
				a.form__btn.form__btn--bottom(href="#") Посмотреть все результаты