.panel.panel-basket
	.panel__wrapp
		.panel__close
			a.panel__close-link(href="#") Закрыть
		.panel__title Корзина
		ul.panel__basket-list
			li.panel__basket-item
				.panel__basket-left
					.panel__basket-desc
						.panel__basket-model
							| Туника «Ника» белый деним
						.panel__basket-size
							| Размер: 44
						.panel__basket-switch.switch
							a.panel__basket-switch_min(href="#") &#215;
							input.panel__basket-switch_input(type="text" value="1")
							a.panel__basket-switch_max(href="#") &#43;
						.panel__basket-price
							span.panel__basket-price_discount 1850 руб.
							span.panel__basket-price_value 1650 руб.
				.panel__basket-right
					.panel__basket-img.img-contain(style="background-image: url(./img/model/model-basket.png);")
						img.panel__basket-img_pic.img-fake(src="./img/model/model-basket.png")
			li.panel__basket-item
				.panel__basket-left
					.panel__basket-desc
						.panel__basket-model
							| Туника «Ника» белый деним
						.panel__basket-size
							| Размер: 44
						.panel__basket-switch.switch
							a.panel__basket-switch_min(href="#") &#215;
							input.panel__basket-switch_input(type="text" value="1")
							a.panel__basket-switch_max(href="#") &#43;
						.panel__basket-price
							span.panel__basket-price_discount 1850 руб.
							span.panel__basket-price_value 1650 руб.
				.panel__basket-right
					.panel__basket-img.img-contain(style="background-image: url(./img/model/model-basket.png);")
						img.panel__basket-img_pic.img-fake(src="./img/model/model-basket.png")
			li.panel__basket-item
				.panel__basket-left
					.panel__basket-desc
						.panel__basket-model
							| Туника «Ника» белый деним
						.panel__basket-size
							| Размер: 44
						.panel__basket-switch.switch
							a.panel__basket-switch_min(href="#") &#215;
							input.panel__basket-switch_input(type="text" value="1")
							a.panel__basket-switch_max(href="#") &#43;
						.panel__basket-price
							span.panel__basket-price_discount 1850 руб.
							span.panel__basket-price_value 1650 руб.
				.panel__basket-right
					.panel__basket-img.img-contain(style="background-image: url(./img/model/model-basket.png);")
						img.panel__basket-img_pic.img-fake(src="./img/model/model-basket.png")
			li.panel__basket-item
				.panel__basket-left
					.panel__basket-desc
						.panel__basket-model
							| Туника «Ника» белый деним
						.panel__basket-size
							| Размер: 44
						.panel__basket-switch.switch
							a.panel__basket-switch_min(href="#") &#215;
							input.panel__basket-switch_input(type="text" value="1")
							a.panel__basket-switch_max(href="#") &#43;
						.panel__basket-price
							span.panel__basket-price_discount 1850 руб.
							span.panel__basket-price_value 1650 руб.
				.panel__basket-right
					.panel__basket-img.img-contain(style="background-image: url(./img/model/model-basket.png);")
						img.panel__basket-img_pic.img-fake(src="./img/model/model-basket.png")
		form.form__basket
			.form__basket-sale
				input.form__basket-sale_input
				a.form__basket-sale_btn.form__btn.btn-white(href="#") Рассчитать скидку
			.form__basket-total
				.basket-sale
					.basket-sale__text Скидка VIP:
					.basket-sale__value 24%
				.basket-total
					.basket-total__text Итого:
					.basket-total__value
						span.panel__basket-price_discount 1850 руб.
						span.panel__basket-price_value 1650 руб.
			.form__btns
				a.form__btn.form__btn--bottom.btn-blue(href="order.html") Оформить заказ