.pay
	.pay__banner
		.pay__banner-bg
			.pay__banner-title Оплата
	.pay__section.pay__section--msk
		.pay__shipping-title При доставке по Москве
		ul.pay__shipping-list
			li.pay__shipping-item
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_1.png")
				.pay__shipping-desc Курьеру <br>наличными
			li.pay__shipping-item
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_2.png")
				.pay__shipping-desc Курьеру картой <br>VISA / MASTERCARD
			li.pay__shipping-item
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_3.png")
				.pay__shipping-desc Картой VISA / MASTERCARD <br>через интернет
	.pay__section.pay__section--region
		.pay__shipping-title При доставке в регионы
		ul.pay__shipping-list
			li.pay__shipping-item--region
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_visa.png")
				.pay__shipping-desc Картой VISA / MASTERCARD через интернет
			li.pay__shipping-item--region
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_sber.png")
				.pay__shipping-desc Сбербанк <br>России
				a.pay__shipping-link(id="paySb" href="#") Подробнее
				.pay__shipping-popup После оформления заказа Вы получите квитанцию, которую можно будет распечатать и использовать при оплате в отделениях Сбербанка России. Уважаемые покупатели, просим обратить ваше внимание, что интернет-магазин не высылает посылки наложенным платежом.
			li.pay__shipping-item--region
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_evro.png")
				.pay__shipping-desc Салоны <br>«Евросеть»
				a.pay__shipping-link(href="#") Ближайший салон связи
			li.pay__shipping-item--region
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_sv.png")
				.pay__shipping-desc Салоны <br>«Связной»
				a.pay__shipping-link(href="#") Ближайший салон связи
			li.pay__shipping-item--region
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_rbk.png")
				.pay__shipping-desc Через провайдера  <br>«rbk money»
				a.pay__shipping-link(href="#") Найти терминалы оплаты
	.pay__section
		.pay__shipping-title При доставке в другие страны
		ul.pay__shipping-list
			li.pay__shipping-item
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_3.png")
				.pay__shipping-desc Картой VISA / MASTERCARD <br>через интернет
			li.pay__shipping-item
				.pay__shipping-img
					img.pay__shipping-pic(src="./img/icons/pay/pay_pal.png")
				.pay__shipping-desc Оплата через <br>Paypal
	.pay__section.pay__section--bg
		.pay__shipping-title Возврат товара 
		ul.pay__return-list
			li.pay__return-item
				.pay__return-img
					img.pay__return-pic(src="./img/icons/pay/city-msk.png")
				.pay__return-title Москва
				.pay__return
					p Приобретая товар с курьерской доставкой, вернуть не подошедший товар можно только с вызовом курьера в течении 14 дней со дня покупки.
					p Стоимость вызова курьера в пределах МКАД-250 руб. Стоимость вызова курьера за МКАД определяется полной стоимостью доставки. Стоимость доставки за МКАД <a href="#">смотреть здесь</a>
					p К возврату принимается товар, который не был в носке, а так же с сохранением всех бирок и ярлыков. Необходимые документы для возврата: чек, товарная накладная, паспорт.
			li.pay__return-item
				.pay__return-img
					img.pay__return-pic(src="./img/icons/pay/city-region.png")
				.pay__return-title Другие города
				.pay__return
					p Приобретая товар по почте или через транспортную компанию, вернуть не подошедший товар можно в течении 14 дней с момента получения посылки.
					p После получения возврата мы можем отправить взамен другой товар или вернуть деньги на банковскую карту.
					p В случае возврата не подошедшего товара, почтовые расходы оплачиваются отправителем.
	.pay__section
		.pay__shipping-title Возврат денежных средств
		.pay__return-desc 
			p В случае, если после оплаты заказа Вы уменьшили заказ или отказались от заказа, мы вернем вам денежные средства в кратчайшие сроки, согласно требованиям законодательства РФ, на вашку кредитную карту с которой была произведена оплата.
			p Просим учесть что в случае если заказ уже отправлен, деньги возвращаются только после возврата заказа продавцу.

