.sidebar.sidebar-right
	ul.sidebar__list
		li.sidebar__item.sidebar__item--basket
			a.sidebar__link.sidebar__link--basket(href="#")
				.basket-value 4
		li.sidebar__item.sidebar__item--login
			a.sidebar__link.sidebar__link--login(href="#")
		li.sidebar__item.sidebar__item--search
			a.sidebar__link.sidebar__link--search(href="#")
		li.sidebar__item.sidebar__item--address
			a.sidebar__link.sidebar__link--address(href="#")
		li.sidebar__item.sidebar__item--language
			a.sidebar__link.sidebar__link--language(href="#")
		.developer
			noindex
				a.developer__link(href="http://pixite.ru/" target="_blank")
					| Разработка сайта PIXITE
	include _panel-search
	include _panel-basket
	include _panel-login