/* --------- adjustment --------- */

$container-width: 1266px;
$footer-height: 684px;
$body-font: 'Robotolight', 'Open Sans', sans-serif;

* {
	box-sizing: border-box;
}

html {
	width:100%;
	font-size: 100%;

	@include top {
		font-size: 15px;
	}
	@include desktop {
		// font-size: 15px;
	}
	@include laptop {
		font-size: 14px;
	}
	@include tablets {
		// font-size: 13px;
	}
	@include phones {
		font-size: 12px;
		font-size: 16px;
	}
}

body {
	font: 16px/1.41 $body-font;
    -webkit-font-smoothing: antialiased;
	width:100%;
	height:100% !important;
	margin: 0;
	color: $black;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;

	li {
		padding: 0;
		left: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

footer {
	position: relative;
	max-width: 1920px;
	height: $footer-height;
	margin: -$footer-height auto 0;

	@include tablets {
		height: 751px;
		margin-top: -751px;
	}

	@include phones {
		height: 850px;
		margin-top: -850px;
	}
}

.footer-min {
	height: 355px;
	margin-top: -355px;
	padding-top: 58px!important;

	@include tablets {
		height: 300px;
		margin-top: -300px;
		padding-top: 30px!important;
	}

	@include phones {
		height: 165px;
		margin-top: -165px;
	}
}

.wrapper {
    position: relative;
    max-width: 1920px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: auto;
    overflow: hidden;

	&:after {
		content: "";
		display: block;
		// position: relative;
		height: $footer-height;

		@include tablets {
			height: 751px;
		}

		@include phones {
			height: 850px;
		}
	}

	&.wrapper--footer-min {

		&:after {
			height: 355px;

			@include tablets {
				height: 300px;
			}

			@include phones {
				height: 165px;
			}
		}
	}
}

.container {
    position: relative;
    max-width: 1366px;
    // min-width: 320px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: content-box;
	@extend %clearfix;

	@include tablets {
	    padding: 0 20px;
	}

	@include phones {
	    padding: 0 14px;
	}
}

.main {
	position: relative;
	
	@include tablets {
		margin-top: 72px;
	}
}

.title {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Robotomedium';
	color: $black;
}

.title-page {
	text-transform: uppercase;
	font-size: 28px;
	color: $black;
}

.title-page--big {
	text-transform: uppercase;
    font-size: 48px;
}

.page-banner {
	position: relative;
	height: 400px;
	margin-bottom: 30px;

	@include tablets {
		height: 250px;
	}

	@include phones {
	    height: 180px;
	}
}

.page-banner__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 400px;
	text-align: center;
	background: rgba(0, 0, 0, .3);

	@include tablets {
		line-height: 250px;
	}

	@include phones {
		line-height: 180px;
	}
}

.page-banner__title {
	text-transform: uppercase;
	font-size: 28px;
	color: #fff;
}

.main--panel-open {
	margin-top: 0;
}

.img-cover {
	position: relative;
	display: block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: cover;

    @include phones {
    	display: block;
    }
}

.img-contain {
	position: relative;
	display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-fake {
	position: absolute;
    top: 0;
    left: -9999px;
}

.img-width {
	max-width: 100%;
}

.input {
	width: 100%;
	padding: 12px;
	font-size: 14px;
	color: $black;
	background: inherit;
	border: 1px solid $grey-line;
}

.label {
	display: none;
	position: absolute;
    top: -24px;
    left: 12px;
    font-size: 14px;
    white-space: nowrap;
}

.input:focus + label {
    display: block;
}

.textarea:focus + label {
    display: block;
}

.textarea {
	width: 100%;
	padding: 12px;
	font-size: 14px;
	color: $black;
	border: 1px solid $grey-line;
	resize: none;
}

.btn {
	padding: 10px 28px;
	text-transform: uppercase;
	font-size: rem(14px);
	// color: $blue;
	// border: 1px solid $blue;
	@include border-radius(20px);
}

.input-btn {
	padding: 12px 28px;
	text-transform: uppercase;
	font-size: rem(14px);
	// color: #fff;
	// background: $blue;
	border: none;
	@include border-radius(20px);
}

.btn-blue {
	color: #fff;
	background: $blue;
	border: 1px solid $blue;

	&:hover {
		color: $blue;
		background: #fff;
		border: 1px solid $blue;
	}
}

.btn-white {
	color: $blue;
	background: #fff;
	border: 1px solid $blue;

	&:hover {
		color: #fff;
		background: $blue;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background: rgba(37, 37, 37, .35);
	z-index: 9;

	@include tablets {
		width: 100%;
		height: 100%;
	}
}


/*---------- placeholder  -----------*/

::-webkit-input-placeholder {color: $black; font-size: 14px; font-family: 'Robotolight';}
::-moz-placeholder          {color: $black; font-size: 14px; font-family: 'Robotolight';}/* Firefox 19+ */
:-moz-placeholder           {color: $black; font-size: 14px; font-family: 'Robotolight';}/* Firefox 18- */
:-ms-input-placeholder      {color: $black; font-size: 14px; font-family: 'Robotolight';}



/*---------- checkbox -----------*/

.checkbox {
	display: block;
	position: relative;
	cursor: pointer;
}

.checkbox__input {
	position: absolute;
	top: 0;
	left: -50px;
}

.checkbox__input:checked + .checkbox__fake {

	// &::before {
	//     display: block;
	// }
}

.checkbox__input:checked + .checkbox__fake--radio {
	background: #a5d2fb;

	&::before {
	    display: block;
	}
}

.checkbox__fake--radio {
	@include inlineblock(middle);
	position: relative;
	height: 14px;
	width: 14px;
	border: 1px solid $grey;
	@include border-radius(50%);

	&:before {
		content: "";
		display: none;
		position: absolute;
		top: 4px;
		left: 4px;
		height: 4px;
		width: 4px;
		@include border-radius(50%);
		background: url(../img/decor/check-in.png)no-repeat;
	}
}

/*---------- scroll -----------*/

// ::-webkit-scrollbar {
//     width: 4px;
//     background-color: #fbf8f8;
// }

// ::-webkit-scrollbar-thumb {
//     width: 8px;
//     background-color: #dfdfdf;
// }

// ::-webkit-scrollbar-button {
// 	background-image:url('');
// 	background-repeat:no-repeat;
// 	width:5px;
// 	height:0px
// }

// ::-webkit-scrollbar-track {
// 	background-color:#fff;
// }

// ::-webkit-scrollbar-thumb {
// 	-webkit-border-radius: 1px;
// 	border-radius: 1px;
// 	background-color:#dfdfdf;
// }

// ::-webkit-scrollbar-thumb:hover{
// 	background-color:#c4c4c4;
// }

// ::-webkit-resizer{
// 	background-image:url('');
// 	background-repeat:no-repeat;
// 	width:4px;
// 	height:0px
// }

// ::-webkit-scrollbar{
// 	width: 4px;
// }
